{% extends "base.html" %}

{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
<div class="content">


  <div class="login_content">
    <div class="login_title"> 로그인 </div>
    {% if form.errors %}
      <div class="error_msg alert alert-danger">
        아이디와 비밀번호를 확인해주세요!
      </div>
    {% endif %}
    <div class="login_content_wrapper">
      <form action="" method="POST">
      {% csrf_token %}
        <div class="type_ur_idpw">
          <input type="text" name="username" placeholder="아이디">
          <input type="password" name="password" placeholder="비밀번호">
        </div>
        <div class="go_login">
          <button> 로그인 </button>
        </div>
      </form>

      <ul class="signup_or_find">
        <li class="signup_or_find_list"><a href="{% url "signup" %}?next={{ request.GET.next }}"> 회원가입 </a></li>
        <li class="signup_or_find_list"> 아이디찾기 </li>
        <li class="signup_or_find_list" style="border-right:none"> 비밀번호찾기 </li>
      </ul>

      <p class="sns_login">SNS계정으로 로그인 / 회원가입</p>
      <div class="sns_login_btn">
        <a href="/accounts/facebook/login/?next=/accounts/signup/info/?next={{ request.GET.next }}"><img src="{% static "img/logo/facebook.jpg" %}"></a>
        <a href="/accounts/naver/login/?next=/accounts/signup/info/?next={{ request.GET.next }}"><img src="{% static "img/logo/naver.jpg" %}"></a>
        <a href="/accounts/kakao/login/?next=/accounts/signup/info/?next={{ request.GET.next }}"><img src="{% static "img/logo/kakao.jpg" %}"></a>
      </div>
    </div>
  </div>


</div>
{% endblock %}




