{% extends "accounts/base_accounts.html" %}

{% load staticfiles %}

{% block title %}
    내 관심
{% endblock %}

{% block head_extra_accounts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mylike.css' %}">
{% endblock %}

{% block content_accounts %}

  <div class="user_scrap_content">
    <div class="user_scrap_content_wrapper">
      <div class="scrap_category">
        <p class="category_title"> 관심 장소 </p>
        <div class="scrap_list">
          <div class="scrap_list_place">
            <p> 고척스카이돔 <i class="fas fa-chevron-right"></i></p>
          </div>
          <div class="scrap_list_place">
            <p> 고척스카이돔 <i class="fas fa-chevron-right"></i></p>
          </div>
          <div class="scrap_list_place">
            <p> 고척스카이돔 <i class="fas fa-chevron-right"></i></p>
          </div>
          <div class="scrap_list_place">
            <p> 고척스카이돔 <i class="fas fa-chevron-right"></i></p>
          </div>
          <div class="scrap_list_place">
            <p> 고척스카이돔 <i class="fas fa-chevron-right"></i></p>
          </div>
        </div>
      </div>

      <div class="scrap_category">
        <p class="category_title"> 관심 이벤트 </p>
        <div class="scrap_list">
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
        </div>
        <div class="show_more"> 더보기 <i class="fas fa-chevron-right"></i> </div>
      </div>

      <div class="scrap_category">
        <p class="category_title" style="margin-bottom: 16px"> 관심 아티스트/팀의 다가오는 이벤트 </p>
        <div class="user_interest_list">
          <div>아이유</div>
          <div>두산 베어스</div>
          <div>아티스트 명</div>
          <div>방탄소년단</div>
          <div>장범준</div>
          <p> 수정 </p>
        </div>
        <div class="scrap_list">
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <div class="scrap_events_set">
            <div class="scrap_events_pic">
              <div>sports</div>
            </div>
            <div class="scrap_events_set_wrapper">
              <p class="scrap_events_title"> 두산 vs LG </p>
              <p class="scrap_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
              <div class="scrap_events_rating"></div>
              <h4 class="scrap_events_reviews"> (100) </h4>
              <div class="scrap_events_get_info">
                <div class="scrap_events_seat_info"> 좌석 정보 </div>
                <div class="scrap_events_event_info"> 공연 정보 </div>
              </div>
            </div>
          </div>
          <p class="show_more"> 더보기 <i class="fas fa-chevron-right"></i> </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}