{% extends "accounts/base_accounts.html" %}

{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}

{% block title %}
    내 리워드
{% endblock %}

{% block head_extra_accounts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myreward.css' %}">
{% endblock %}

{% block content_accounts %}

  <div class="user_reward_content">
    <div class="user_reward_content_wrapper">
      <div class="my_rewards">
        <div class="my_rewards_header">
          <p> 내 티끌 <span> {{ user.reward.reward }} </span> </p>
          <button> 티끌모으기 </button>
        </div>
        <div class="my_rewards_table">
          <div class="table_head">
            <div class="reward_get_use select_custom">
              <select>
                <option> 전체 </option>
                <option> 사용 </option>
                <option> 적립 </option>
              </select>
            </div>
            <div class="reward_date"> 날짜 </div>
            <div class="reward_source"> 내역 </div>
            <div class="reward_amount"> 리워드 </div>
            <div class="reward_status"> 상태 </div>
          </div>
          <div class="table_body_wrap">
            {% for history in user.reward_history_set.all %}
            <div class="table_body">
              <div class="reward_get_use">
                {% if history.amount > 0 %} 적립
                {% else %} 사용
                {% endif %}
              </div>
              <div class="reward_date">{{ history.created_at|date:"Y/m/d" }}</div>
              <div class="reward_source">{{ history.reason }}</div>
              <div class="reward_amount" style="text-align: right;">
                {% if history.amount > 0 %}
                + {{ history.amount }}
                {% else %}
                - {{ history.amount|abs }}
                {% endif %}

              </div>
              <div class="reward_status">{{ history.get_status_display }}</div>
            </div>
            {% endfor %}
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
            <div class="table_body">
              <div class="reward_get_use"> 적립 </div>
              <div class="reward_date"> 2018/06/02 </div>
              <div class="reward_source"> 공연 리뷰 작성 </div>
              <div class="reward_amount" style="text-align: right;"> +100 </div>
              <div class="reward_status"> 지급완료 </div>
            </div>
          </div>
        </div>
      </div>

      <div class="how_to_get_reward">

      </div>
    </div>


    <div class="reward_shop">
      <p> 티끌 모아 태산 <span> 교환하시고자 하는 상품을 눌러주세요 :-) </span></p>
      {% for gift in gifts %}
      <div class="reward_item" id="menu-1">
        <div class="reward_item_img" style="background-image: url({{ gift.img.url }})"></div>
        <p class="reward_item_store">{{ gift.category }}</p>
        <p class="reward_item_name">{{ gift.name }}</p>
        <p class="reward_item_price">{{ gift.price|intcomma }}</p>
      </div>
      {% endfor %}
      <div class="reward_item">
        <div class="reward_item_img"></div>
        <p class="reward_item_store"> 스타벅스 </p>
        <p class="reward_item_name"> 아메리카노(Tall) </p>
        <p class="reward_item_price">1,000</p>
      </div>
      <div class="reward_item">
        <div class="reward_item_img"></div>
        <p class="reward_item_store"> 스타벅스 </p>
        <p class="reward_item_name"> 아메리카노(Tall) </p>
        <p class="reward_item_price"> 1,000 </p>
      </div>
      <div class="reward_item">
        <div class="reward_item_img"></div>
        <p class="reward_item_store"> 스타벅스 </p>
        <p class="reward_item_name"> 아메리카노(Tall) </p>
        <p class="reward_item_price"> 1,000 </p>
      </div>
      <div class="reward_item">
        <div class="reward_item_img"></div>
        <p class="reward_item_store"> 스타벅스 </p>
        <p class="reward_item_name"> 아메리카노(Tall) </p>
        <p class="reward_item_price"> 1,000 </p>
      </div>
      <div class="reward_item">
        <div class="reward_item_img"></div>
        <p class="reward_item_store"> 스타벅스 </p>
        <p class="reward_item_name"> 아메리카노(Tall) </p>
        <p class="reward_item_price"> 1,000 </p>
      </div>
    </div>

    <div class="modal fade" id="ticket_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <a data-dismiss="modal"><img class="modal_close" src="{% static 'img/delete.png' %}"></a>
            <p> 교환권 신청 </p>
            <div class="modal_item">
              <img src="{% static 'img/icedamericano.jpg' %}">
              <h3> 스타벅스 </h3>
              <h4> 아메리카노(Tall) </h4>
              <p> 1,000 사용 </p>
            </div>
            <div class="user_contact">
              <p> 교환권을 받으실 전화번호를 확인해주세요. </p>
              <input type="text" name="phone_number" placeholder="01012341234">
            </div>
            <div class="apply_zone">
              <p> 신청 후에는 상품 변경, 환불이 불가능합니다. </p>
              <button data-dismiss="modal" class="cancel"> 취소 </button>
              <button class="apply"> 신청 </button>
            </div>
          </div>
          <div class="modal-footer">
            <div class="precautions">
              <p> 유의사항 및 조건 <i class="fas fa-angle-down"></i></p>
              <h4> 매장별 재고 상황에 따라 구매가 어려운 경우에는 동일 가격 이상의 타음료로 교환이 가능합니다. 유효기간 이내 사용가능하며, 최초 유효기간 만료후에는 결제금액의 90% 환불이 가능합니다. </h4>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function(){
  $('#menu-1').click(function(){
    $('.modal').modal();
  })
})
</script>
{% endblock %}