@media (max-width:768px) {
  .user_faq_content {
    width: 100%;
    margin: 20px auto 0;
    padding: 0 16px;
  }
  .user_faq_header {
    padding-bottom: 24px;
    border-bottom: solid 2px #383b41;
  }
  .user_faq_header > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 0 0 12px 0;
  }
  .user_faq_header > h4 {
    font-family: "나눔바른고딕";
    font-size: 14px;
    font-weight: normal;
    color: rgba(56, 59, 65, 0.54);
    margin: 0;
  }
  .user_faq_header > h4 > span {
    text-decoration: underline;
  }
  .faq_category {
    border-bottom: solid 2px #383b41;
  }
  .faq_category > p {
    font-family: "나눔바른고딕B";
    font-size: 14px;
    margin: 16px 0 ;
    cursor: pointer;
  }
  .faq_category > p > i {
    font-size: 24px;
    float: right;
    margin-right: 16px;
  }
  .closed {
    display: none;
  }
  .faq_category > hr {
    border: solid 1px #ebecf0;
    margin: 0;
  }
  .faq_category_body {
    margin-top: 14px;
  }
  .faq_questions {
    margin-bottom: 24px;
  }
  .faq_questions > p {
    font-family: "나눔바른고딕B";
    font-size: 14px;
    line-height: 1.71;
    margin: 0 0 16px;
  }
  .faq_questions > h4 {
    font-family: "나눔바른고딕";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(56, 59, 65, 0.54);
    margin: 0;
  }

  .user_faq_footer {
    margin: 62px 0 30px 0;
  }
  .user_faq_footer > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 0 0 16px 0;
  }
  .user_faq_footer > h4 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: rgba(56, 59, 65, 0.54);
    margin: 0 0 32px 0;
  }
  .user_faq_footer > button {
    width: 343px;
    height: 64px;
    border-radius: 8px;
    background-color: #4a90e2;
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: #ffffff;
  }
}


@media (min-width:768px) {
  .user_faq_content {
    width: 1100px;
    margin: 48px auto 0;
    padding: 0 16px;
  }
  .user_faq_header {
    padding-bottom: 32px;
    border-bottom: solid 2px #383b41;
  }
  .user_faq_header > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin: 0 0 16px 0;
  }
  .user_faq_header > h4 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    color: rgba(56, 59, 65, 0.54);
    margin: 0;
  }
  .user_faq_header > h4 > span {
    text-decoration: underline;
  }
  .faq_category {
    border-bottom: solid 2px #383b41;
  }
  .faq_category > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 16px 0 ;
    cursor: pointer;
  }
  .faq_category > p > i {
    font-size: 24px;
    float: right;
    margin-right: 16px;
  }
  .closed {
    display: none;
  }
  .faq_category > hr {
    border: solid 1px #ebecf0;
  }
  .faq_category_body {
    padding-bottom: 30px;
    margin-top: 30px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
  .faq_questions {
    margin-bottom: 24px;
  }
  .faq_questions > p {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 16px;
  }
  .faq_questions > h4 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(56, 59, 65, 0.54);
    margin: 0;
  }

  .user_faq_footer {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .user_faq_footer > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin: 0 0 16px 0;
  }
  .user_faq_footer > h4 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: rgba(56, 59, 65, 0.54);
    margin: 0 0 32px 0;
  }
  .user_faq_footer > button {
    width: 518px;
    height: 88px;
    border-radius: 8px;
    background-color: #4a90e2;
    font-family: "나눔바른고딕B";
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}


