@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .login_content {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 8px;
  }
  .login_title {
    height: 72px;
    background-color: #f4f5f7;
    font-size: 24px;
    font-family: "나눔바른고딕";
    line-height: 72px;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
  }
  .login_content_wrapper {
    padding: 40px 16px 0;
  }
  .type_ur_idpw input {
    width: 320px;
    height: 48px;
    display: block;
    border: solid 1px #f4f5f7;
    margin: 0 auto 16px;
    padding-left: 16px;
  }
  .type_ur_idpw input::placeholder,
  .type_ur_idpw input:-ms-input-placeholder {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.22);
  }
  .go_login {
    text-align: center;
    margin-top: 40px;
  }
  .go_login > button {
    width: 320px;
    height: 56px;
    border: none;
    border-radius: 3px;
    background-color: #4a90e2;
    font-family: "나눔바른고딕B";
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }
  .signup_or_find {
    text-align: center;
    margin: 24px 0 0 0;
    padding: 0 0 32px 0;
    border-bottom: solid 1px #f4f5f7;
  }
  .signup_or_find_list {
    display: inline-block;
    border-right: solid 1px #f4f5f7;
    padding: 0 12px;
  }
  .signup_or_find_list a {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.38);
  }
  .sns_login {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 24px;
  }
  .sns_login_btn {
    text-align: center;
    margin-top: 24px;
  }
  .sns_login_btn img {
    width: 48px;
    height: 48px;
    margin: 0 12px 56px;
  }
  .alert-danger {
    margin: 0px;
    margin-top: 24px;
    color: #d0021b;
    font-family: "나눔바른고딕";
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: none;
  }
  .alert {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .content {
    width: 100%;
    min-width: 768px;
  }
  .login_content {
    width: 500px;
    box-shadow: 0 1px 4px 0 #eeeeee;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 48px;
  }
  .login_title {
    height: 72px;
    background-color: #f4f5f7;
    font-size: 24px;
    font-family: "나눔바른고딕";
    line-height: 72px;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
  }
  .login_content_wrapper {
    padding: 40px 16px 0;
  }
  .type_ur_idpw input {
    width: 320px;
    height: 48px;
    display: block;
    border: solid 1px #f4f5f7;
    margin: 0 auto 16px;
    padding-left: 16px;
  }
  .type_ur_idpw input::placeholder,
  .type_ur_idpw input:-ms-input-placeholder {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.22);
  }
  .go_login {
    text-align: center;
    margin-top: 40px;
  }
  .go_login > button {
    width: 320px;
    height: 56px;
    border: none;
    border-radius: 3px;
    background-color: #4a90e2;
    font-family: "나눔바른고딕B";
    font-size: 16px;
    text-align: center;
    color: #ffffff;
  }
  .signup_or_find {
    text-align: center;
    margin: 24px 0 0 0;
    padding: 0 0 32px 0;
    border-bottom: solid 1px #f4f5f7;
  }
  .signup_or_find_list {
    display: inline-block;
    border-right: solid 1px #f4f5f7;
    padding: 0 12px;
  }
  .signup_or_find_list a {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.38);
  }
  .sns_login {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 24px;
  }
  .sns_login_btn {
    text-align: center;
    margin-top: 24px;
  }
  .sns_login_btn img {
    width: 48px;
    height: 48px;
    margin: 0 12px 56px;
  }
  .alert-danger {
    margin: 0px;
    margin-top: 24px;
    color: #d0021b;
    font-family: "나눔바른고딕";
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border: none;
  }
  .alert {
    padding: 0px;
  }
}


