
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .main_title_zone {
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-image: linear-gradient(to right, #bb213c, #bd3f32);
    padding: 20px 0px;
  }
  .main_title_zone_wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .main_title_zone_wrapper > p {
    color: #fff;
    font-family: '나눔바른고딕B';
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    margin: 0px;
  }
  .main_title_zone_wrapper > h4 {
    color: #fff;
    font-family: '나눔바른고딕L';
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 16px;
    margin: 0 0 20px 0;
  }
  .main_title_zone_wrapper > div {
    width: 876px;
    height: 100px;
    border: solid 4px #2d2f30;
    text-align: left;
    /*padding-right: 24px;*/
    margin: 0 auto 0;
  }
  .main_title_zone_wrapper > div > input {
    width: 738px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "나눔바른고딕";
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;
  }
  .main_title_zone_wrapper > div > input::placeholder {
    font-family: "나눔바른고딕";
    font-size: 24px;
    color: #a5adbb;
  }
  .main_title_zone_wrapper > div > div {
    width: 108px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
  }
  .main_title_zone_wrapper > div > div > i {
    font-size: 48px;
    padding-top: 25px;
  }
  .go_write_review {
    width: 343px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    font-family: '나눔바른고딕B';
    font-size: 16px;
    color: #bb213c;
  }
  .main_banner_zone {
    width: 100%;
    height: 120px;
  }

  .navbar_outer {
    width: 100%;
    height: 48px;
    border-bottom: solid 1px #e6e6e6;
  }
  nav.navbar {
    width: 100%;
    height: 48px;
    margin: 0 auto 0;
  }
  .navbar-brand {
    font-family: "나눔바른고딕B";
    font-size: 14px;
    line-height: 40px;
    color: #bb213c;
    margin-right: 20px;
  }
  .nav-item {
    margin-right: 28px;
  }
  .nav-item > a {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #bb213c;
    text-decoration: none;
  }
  .dropdown-toggle::after {
    margin-left: 12px;
  }
  .dropdown-menu {
    top: 40px;
  }
  .main_content {
    width: 100%;
    padding-top: 24px;
  }
  .main_content_wrapper {
    margin: 0 auto 0;
  }
  .eventlist_section {
    widows: 100%;
    margin-bottom: 48px;
    padding: 0px 16px;
  }
  .eventlist_section > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 0 0 16px 0;
    display: inline-block;
  }
  .eventlist_section > h3 {
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    margin: 0;
    display: inline-block;
    float: right;
  }

  .reward_promotion {
    width: 100%;
    background-color: #f5f5f5;
    padding: 32px 24px;
  }
  .reward_promotion_wrapper {
    margin: 0 auto 0;
  }
  .reward_promotion_wrapper > p {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
  }
  .reward_promo_set {
    width: 100%;
    margin-top: 20px;
  }
  .reward_promo_set > .reward_explan_img {
    width: 48px;
    height: 48px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin: 0 auto 0;
    display: inline-block;
    vertical-align: middle;
  }
  .reward_promo_set > .reward_explan_set {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
  }
  .reward_promo_set p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    line-height: 28px;
    margin: 0px;
  }
  .reward_promo_set h4 {
    font-family: "나눔바른고딕";
    font-size: 12px;
    line-height: 20px;
    margin: 0px;
    color: rgba(38, 38, 38, 0.7);
  }
  .reward_promotion_wrapper > button {
    width: 200px;
    height: 48px;
    background-color: #c1c7d0;
    border-radius: 8px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    margin: 60px auto 0;
  }

  .numbers {
    width: 100%;
    height: 385px;
    padding: 48px 0;
  }
  .numbers_wrapper {
    width: 1100px;
    margin: 0 auto 0;
    text-align: center;
  }
  .numbers_wrapper > p {
    font-size: 24px;
    margin: 0 0 64px 0;
  }
  .number_set {
    display: inline-block;
    margin: 0 40px;
  }
  .number_set > p {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    color: #a5adbb;
    margin: 0 0 8px 0;
  }
  .number_set > h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #383b41;
    margin: 0;
  }
}
@media(min-width:768px) {
  .content {
    width: 100%;
    min-width: 768px;
  }
  .main_title_zone {
    width: 100%;
    min-width: 1100px;
    height: 360px;
    background-size: 100%;
    background-image: linear-gradient(to right, #bb213c, #bd3f32);
    padding: 48px 0px;
  }
  .main_title_zone_wrapper {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
  }
  .main_title_zone_wrapper > p {
    color: #fff;
    font-family: '나눔바른고딕B';
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    margin: 0px;
  }
  .main_title_zone_wrapper > h4 {
    color: #fff;
    font-family: '나눔바른고딕L';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
    margin: 0 0 32px 0;
  }
  .main_title_zone_wrapper > div {
    width: 876px;
    height: 100px;
    border: solid 4px #2d2f30;
    text-align: left;
    /*padding-right: 24px;*/
    margin: 0 auto 0;
  }
  .main_title_zone_wrapper > div > input {
    width: 738px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "나눔바른고딕";
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;
  }
  .main_title_zone_wrapper > div > input::placeholder {
    font-family: "나눔바른고딕";
    font-size: 24px;
    color: #a5adbb;
  }
  .main_title_zone_wrapper > div > div {
    width: 108px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
  }
  .main_title_zone_wrapper > div > div > i {
    font-size: 48px;
    padding-top: 25px;
  }
  .go_write_review {
    width: 440px;
    height: 64px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    font-family: '나눔바른고딕B';
    font-size: 24px;
    color: #bb213c;
  }
  .main_banner_zone {
    width: 100%;
    height: 120px;
  }

  .navbar_outer {
    width: 100%;
    height: 64px;
    border-bottom: solid 1px #e6e6e6;
  }
  nav.navbar {
    width: 1100px;
    height: 64px;
    margin: 0 auto 0;
  }
  .navbar-brand {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    line-height: 56px;
    color: #bb213c;
    margin-right: 48px;
  }
  .nav-item {
    margin-right: 28px;
  }
  .nav-item > a {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #bb213c;
    text-decoration: none;
  }
  .dropdown-toggle::after {
    margin-left: 12px;
  }
  .dropdown-menu {
    top: 40px;
  }
  .main_content {
    width: 100%;
    padding-top: 42px;
  }
  .main_content_wrapper {
    width: 1100px;
    margin: 0 auto 0;
  }
  .eventlist_section {
    widows: 100%;
    margin-bottom: 48px;
    padding: 0px 16px;
  }
  .eventlist_section > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin: 0 0 24px 0;
  }
  .eventlist_section > h4 {
    font-size: 16px;
    font-weight: bold;
    color: rgba(56, 59, 65, 0.54);
    margin: 0;
  }

  .reward_promotion {
    width: 100%;
    background-color: #f5f5f5;
    padding: 40px 0;
  }
  .reward_promotion_wrapper {
    width: 1100px;
    margin: 0 auto 0;
    text-align: center;
  }
  .reward_promotion_wrapper > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .reward_explanation {
    margin: 32px auto 0;
  }
  .reward_promo_set {
    width: 264px;
    margin: 0px 16px;
    display: inline-block;
  }
  .reward_promo_set > .reward_explan_img {
    width: 80px;
    height: 80px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin: 0 auto 0;
  }
  .reward_promo_set p {
    font-family: "나눔바른고딕";
    font-size: 16px;
    margin: 20px 0 0 0;
    text-align: center;
  }
  .reward_promo_set h4 {
    font-family: "나눔바른고딕";
    font-size: 12px;
    margin: 12px 0 0 0;
    text-align: center;
    color: rgba(38, 38, 38, 0.7);
  }
  .reward_promotion_wrapper > button {
    width: 200px;
    height: 48px;
    background-color: #c1c7d0;
    border-radius: 8px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    margin: 60px auto 0;
  }

  .numbers {
    width: 100%;
    height: 385px;
    padding: 48px 0;
  }
  .numbers_wrapper {
    width: 1100px;
    margin: 0 auto 0;
    text-align: center;
  }
  .numbers_wrapper > p {
    font-size: 24px;
    margin: 0 0 64px 0;
  }
  .number_set {
    display: inline-block;
    margin: 0 40px;
  }
  .number_set > p {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    color: #a5adbb;
    margin: 0 0 8px 0;
  }
  .number_set > h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #383b41;
    margin: 0;
  }
}