.user_info_content {
  width: 582px;
  border: solid 1px #ebecf0;
  padding: 24px 40px;
  margin: 40px auto 0;
}
.section_title {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}
.user_profile_pic > .section_title > span {
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  color: rgba(56, 59, 65, 0.54);
  float: right;
  cursor: pointer;
}
.user_profile_pic > div {
  margin-top: 24px;
}
.user_profile_pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.user_profile_pic button {
  width: 112px;
  height: 40px;
  border: solid 1px #ebecf0;
  border-radius: 4px;
  background-color: #ebecf0;
  font-size: 14px;
  font-weight: bold;
  color: rgba(56, 59, 65, 0.54);
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
}
.user_id {
  margin-top: 36px;
}
.user_id > h4 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  margin: 16px 0 0 0;
}
.user_pwd {
  margin-top: 36px;
}
.user_pwd > input[name='new_pwd'] {
  width: 320px;
  height: 48px;
  border: solid 1px #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}
.user_pwd > input[name='confirm_pwd'] {
  width: 320px;
  height: 48px;
  border: solid 1px #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}
.user_nickname {
  margin-top: 36px;
}
.user_nickname > input[name='nickname'] {
  width: 320px;
  height: 48px;
  font-size: 16px;
  color: black;
  border: solid 1px #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}
.user_email {
  margin-top: 36px;
}
.user_email > input[name='email'] {
  width: 320px;
  height: 48px;
  font-size: 16px;
  color: black;
  border: solid 1px #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}
.user_gender {
  margin-top: 36px;
}
.user_gender > h4 {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  margin: 16px 0 0 0;
}
.user_birthyear {
  margin-top: 36px;
}
.select_custom {
  position: relative;
}
.select_custom > select {
  width: 320px;
  height: 48px;
  background-color: #fff;
  border: solid 1px #eeeeee;
  border-radius: 0px;
  font-size: 16px;
  padding-left: 8px;
  margin-top: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select_custom:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #c1c7d0;
  right: 275px;
  padding: 22px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}
.user_interest {
  margin-top: 36px;
}
.user_interest > .section_title > span {
  font-size: 12px;
  font-weight: bold;
  color: rgba(56, 59, 65, 0.54);
  margin-left: 8px;
}
.user_interest_wrapper {
  margin-top: 16px;
}
.user_interest_wrapper > button{
  width: 120px;
  height: 48px;
  border: solid 1px #c1c7d0;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}
.selected_interest_zone {
  width: 440px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}
.selected_interest {
  height: 32px;
  background-color: #ebecf0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(56, 59, 65, 0.54);
  line-height: 2.75;
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px 0 16px;
  margin: 0 4px 4px 0;
}
.selected_interest i {
  margin-left: 16px;
  color: #c1c7d0;
}
.user_phone {
  margin-top: 36px;
}
.user_phone > input[name='phone'] {
  width: 320px;
  height: 48px;
  font-size: 16px;
  color: black;
  border: solid 1px #eeeeee;
  padding-left: 8px;
  margin-top: 8px;
}
.save {
  width: 320px;
  height: 64px;
  border-radius: 8px;
  background-color: #4a90e2;
  font-size: 16px;
  color: #ffffff;
  margin: 36px 0 0 131px;
}



