@media (max-width:768px) {
  .user_scrap_content {
    width: 100%;
    background-color: #f4f5f7;
  }
  .user_scrap_content_wrapper {
    width: 100%;
    margin: 0 auto 0;
    padding: 24px 16px 0;
  }
  .scrap_category {
    margin-bottom: 32px;
  }
  .scrap_place {
    border-bottom: solid 1px #ebecf0;
  }
  .category_title {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 0 0 16px 0;
  }
  .scrap_list_place {
    height: 54px;
    border-top: solid 1px #ebecf0;
    padding-right: 16px;
  }
  .scrap_list_place > p {
    font-family:"나눔바른고딕B";
    font-size: 14px;
    line-height: 54px;
    margin: 0;
  }
  .scrap_list_place > p > i {
    color: #c1c7d0;
    line-height: 54px;
    float: right;
  }
  .scrap_list {
    width: 100%;
    overflow-x: scroll;
  }
  .user_interest_list {
    margin-bottom: 8px;
  }
  .user_interest_list > div {
    height: 24px;
    border-radius: 4px;
    background-color: #a5d296;
    font-family: "나눔바른고딕";
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    margin: 0 8px 12px 0;
  }
  .user_interest_list > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(56, 59, 65, 0.54);
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 12px 16px;
  }
}


@media (min-width:768px) {
  .user_scrap_content {
    width: 100%;
    background-color: #f4f5f7;
  }
  .user_scrap_content_wrapper {
    width: 1100px;
    margin: 0 auto 0;
    padding: 40px 16px 0;
  }
  .scrap_category {
    margin-bottom: 48px;
  }
  .category_title {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin: 0 0 24px 0;
  }
  .scrap_list_place {
    width: 255px;
    height: 88px;
    border-radius: 8px;
    border: solid 4px #4a90e2;
    display: inline-block;
    padding: 0 16px 0 24px;
    margin: 0 16px 24px 0;
  }
  .scrap_list_place > p {
    font-family:"나눔바른고딕B";
    font-size: 16px;
    line-height: 88px;
    margin: 0;
  }
  .scrap_list_place > p > i {
    font-size: 16px;
    line-height: 88px;
    float: right;
  }
  .show_more {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: rgba(56, 59, 65, 0.54);
    margin: 10px 0 12px 0;
  }
  .show_more > i {
    margin-left: 8px;
  }
  .user_interest_list {
    margin-bottom: 24px;
  }
  .user_interest_list > div {
    height: 24px;
    border-radius: 4px;
    background-color: #a5d296;
    font-family: "나눔바른고딕";
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    margin-right: 8px;
  }
  .user_interest_list > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: rgba(56, 59, 65, 0.54);
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 16px;
  }
}

