@media (max-width: 768px) {
  .user_reward_content  {
    width: 100%;
    margin: 0 auto 0;
  }
  .how_to_get_reward {
    width: 100%;
    height: 64px;
    background-color: #f4f5f7;
  }
  .my_rewards {
    width: 100%;
    height: 369px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    margin: 0 auto 0;
  }

  .my_rewards_header {
    width: 100%;
    height: 64px;
    border-bottom: solid 1px #ebecf0;
    padding: 0 16px;
  }
  .my_rewards_header > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #000;
    margin: 0;
    line-height: 64px;
    display: inline-block;
    vertical-align: middle;
  }
  .my_rewards_header > p > span {
    margin-left: 16px;
  }
  .my_rewards_header > button {
    width: 96px;
    height: 39px;
    background-color: #c1c7d0;
    border-radius: 5px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    line-height: 39px;
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
  }
  div.table_head {
    height: 40px;
    font-weight: bold;
    border-bottom: solid 1px #ebecf0;
    padding: 0 0 0 24px;
  }
  div.table_head > div {
    line-height: 40px;
    color: rgba(56, 59, 65, 0.54);
  }
  div.table_body {
    height: 46px;
    border-bottom: solid 1px #ebecf0;
    padding: 0 0 0 24px;
  }
  div.table_body > div {
    line-height: 46px;
  }
  .reward_get_use,
  .reward_date {
    display: none;
  }
  .reward_source {
    width: 155px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: left;
    display: inline-block;
  }
  .reward_amount {
    width: 40px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-left: 24px;
  }
  .reward_status {
    width: 80px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    margin: 0 16px 0 24px;
    display: inline-block;
    float: right;
  }

  .reward_shop {
    margin-top: 20px;
    padding: 0 16px;
  }
  .reward_shop > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    margin: 0;
  }
  .reward_shop > p > span {
    font-family: "나눔바른고딕";
    font-size: 14px;
    font-weight: normal;
    color: rgba(56, 59, 65, 0.54);
    margin-left: 8px;
  }
  .reward_item {
    width: 163px;
    margin: 16px 4px 0 0;
    display: inline-block;
  }
  .reward_item_img {
    width: 163px;
    height: 163px;
    border: solid 1px #ebecf0;
  }
  .reward_item_name {
    font-family: "나눔바른고딕";
    font-size: 12px;
    text-align: center;
    margin: 12px 0 8px 0;
  }
  .reward_item_price {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}


@media (min-width: 768px) {
  .user_reward_content  {
    width: 1100px;
    padding-top: 40px;
    margin: 0 auto 0;
  }
  .user_reward_content_wrapper {
    padding-bottom: 48px;
  }
  .how_to_get_reward {
    width: 340px;
    height: 600px;
    background-color: #f4f5f7;
    float: right;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
  }
  .my_rewards {
    height: 600px;
    border: solid 1px #ebecf0;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
  }
  .my_rewards_header {
    width: 696px;
    height: 88px;
    border-bottom: solid 1px #ebecf0;
    padding: 0 24px;
  }
  .my_rewards_header > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #000;
    margin: 0;
    line-height: 88px;
    display: inline-block;
    vertical-align: middle;
  }
  .my_rewards_header > p > span {
    margin-left: 16px;
  }
  .my_rewards_header > button {
    width: 120px;
    height: 40px;
    background-color: #bb213c;
    border-radius: 5px;
    font-family: "나눔바른고딕B";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    line-height: 40px;
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 24px;
  }
  div.table_head {
    height: 48px;
    font-weight: bold;
    border-bottom: solid 1px #ebecf0;
    padding: 0 0 0 24px;
  }
  div.table_head > div {
    line-height: 48px;
    color: rgba(56, 59, 65, 0.54);
  }
  div.table_body {
    height: 54px;
    border-bottom: solid 1px #ebecf0;
    padding: 0 0 0 24px;
  }
  div.table_body > div {
    line-height: 54px;
  }
  .select_custom {
    height: 99%;
    text-align: center;
    position: relative;
  }
  .select_custom select {
    width: 61px;
    height: 100%;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: rgba(56, 59, 65, 0.54);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select_custom:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    top: 14px;
    right: 0px;
    padding-left: 8px;
    position: absolute;
    pointer-events: none;
  }
  select::-ms-expand {
    display: none;
  }
  .reward_get_use {
    width: 48px;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: left;
    display: inline-block;
  }
  .reward_date {
    width: 100px;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: left;
    margin-left: 24px;
    display: inline-block;
  }
  .reward_source {
    width: 248px;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: left;
    margin-left: 24px;
    display: inline-block;
  }
  .reward_amount {
    width: 60px;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-left: 24px;
  }
  .reward_status {
    width: 90px;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: center;
    margin-left: 24px;
    display: inline-block;
  }

  .reward_shop {
    padding: 0 16px;
  }
  .reward_shop > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    font-weight: bold;
  }
  .reward_shop > p > span {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    color: rgba(56, 59, 65, 0.54);
    margin-left: 8px;
  }
  .reward_item {
    width: 247px;
    margin: 16px 16px 0 0;
    display: inline-block;
  }
  .reward_item_img {
    width: 247px;
    height: 247px;
    border: solid 1px #ebecf0;
  }
  .reward_item_store {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    margin: 16px 0 0 0;
  }
  .reward_item_name {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    margin: 0 0 8px 0;
  }
  .reward_item_price {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
  .modal-dialog {
    width: 400px;
  }
  .modal-body {
    padding: 24px 16px 16px;
    text-align: center;
  }
  .modal-body > a {
    float: right;
  }
  .modal-body > a > img {
    width: 16px;
  }
  .modal-body > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin: 0;
  }
  .modal_item {
    padding: 20px 0 24px;
  }
  .modal_item > img{
    width: 168px;
    height: 168px;
    border: solid 1px rgb(235, 236, 240);
    margin-bottom: 16px;
  }
  .modal_item > h3,
  .modal_item > h4 {
    font-family: "나눔바른고딕";
    font-size: 14px;
  }
  .modal_item > h3 {
    margin-bottom: 4px;
  }
  .modal_item > h4 {
    margin-bottom: 16px;
  }
  .modal_item > p {
    font-family: "나눔바른고딕B";
    font-size: 14px;
    margin: 0;
  }
  .user_contact {
    padding-bottom: 16px;
  }
  .user_contact > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
  }
  .user_contact > input {
    width: 248px;
    height: 40px;
    border: solid 1px #ebecf0;
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: center;
  }
  .user_contact > input::placeholder {
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: center;
  }
  .apply_zone > p {
    font-family: "나눔바른고딕B";
    font-size: 12px;
    text-align: center;
    color: #bb213c;
  }
  .cancel,
  .apply {
    width: 112px;
    height: 40px;
    border-radius: 2px;
    font-family: "나눔바른고딕B";
    font-size: 12px;
    line-height: 40px;
    text-align: center;
  }
  .cancel {
    background-color: #e6e6e6;
    border: solid 1px #e6e6e6;
    color: rgba(38, 38, 38, 0.7);
  }
  .apply {
    background-color: #bb213c;
    border: solid 1px #bb213c;
    color: #fff;
    margin-left: 16px;
  }
  .modal-footer {
    padding: 14px 16px 16px;
  }
  .precautions > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 16px;
  }
  .precautions > p > i {
    float: right;
    line-height: 21px;
  }
  .precautions > h4 {
    font-family: "나눔바른고딕";
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}




