@media (max-width:768px) {
  .place_content {
    width: 100%;
  }
  .place_content_wrapper {
    min-height: 480px;
    margin: 28px auto 0;
    padding: 0px 16px;
  }
  .place_basic_info {
    width: 100%;
    margin-left: 8px;
  }
  .place_basic_info i {
    font-size: 22px;
    color: #262626;
    margin-right: 16px;
    vertical-align: top;
  }
  .place_basic_info p {
    display: inline-block;
    font-family: '나눔바른고딕';
    font-size: 14px;
    margin-bottom: 24px;
    vertical-align: top;
  }
  .place_basic_info_map {
    width: 100%;
    height: 248px;
  }
  .iw_inner {
    width: 320px;
    padding: 16px;
  }
  .iw_inner > h3 {
    font-family: "나눔바른고딕B";
    font-size: 12px;
  }
  .iw_inner > p {
    margin: 0px;
    font-family: "나눔바른고딕";
    font-size: 12px;
  }

  #place_basic_info {
    color: #262626 !important;
    border-bottom: solid 2px #262626 !important;
  }
}
@media (min-width:768px) {
  .place_content {
    width: 100%;
    min-width: 1100px;
  }
  .place_content_wrapper {
    width: 1100px;
    min-height: 800px;
    margin: 40px auto 0;
  }
  .place_basic_info {
    width: 518px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    vertical-align: top;
  }
  .place_basic_info i {
    font-size: 22px;
    color: #262626;
    margin-right: 24px;
    vertical-align: top;
  }
  .place_basic_info p {
    display: inline-block;
    font-family: '나눔바른고딕';
    font-size: 16px;
    margin-bottom: 20px;
    vertical-align: top;
  }
  .place_basic_info_map {
    width: 518px;
    height: 328px;
    margin-left: 32px;
    display: inline-block;
    vertical-align: top;
  }
  .iw_inner {
    width: 320px;
    padding: 16px;
  }
  .iw_inner > h3 {
    font-family: "나눔바른고딕B";
    font-size: 12px;
  }
  .iw_inner > p {
    margin: 0px;
    font-family: "나눔바른고딕";
    font-size: 12px;
  }
  .place_weather {
    width: 518px;
    height: 540px;
    display: inline-block;
    background-color: red;
    vertical-align: top;
    margin-left: 32px;
  }

  #place_basic_info {
    color: #262626 !important;
    border-bottom: solid 2px #262626 !important;
  }
}