#place_share_info {
  color: #262626 !important;
  border-bottom: solid 2px #262626 !important;
}
select {
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
}

@media (max-width:768px) {
  .place_around_content {
    width: 100%;
    padding-top: 12px;
    background-color: #f5f5f5;
  }
  .posting_zone {
    width: 100%;
    margin-bottom: 48px;
    display: inline-block;
  }
  .posting_zone_nav {
    padding-left: 8px;
    margin-bottom: 16px;
    overflow: auto;
    white-space: nowrap;
  }
  .posting_zone_nav_compenent {
    width: 64px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
  }
  div.selected {
    background-color: #f35865;
    color: #ffffff;
    border: none;
  }
  .posting_input_section {
    width: 100%;
  }
  .posting_input_section > p {
    font-family: '나눔바른고딕';
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 8px;
    display: none;
  }
  .input_box {
    width: 100%;
  }
  .posting_place_info {
    background-color: #fff;
    border-bottom: solid 1px #ebecf0;
  }
  .place_category {
    -webkit-appearance:none;
    width: 19%;
    height: 40px;
    border: none;
    background: none;
    background-color: #fff;
    font-size: 12px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.7);
    line-height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
  }
  .place_name {
    width: 61%;
    height: 40px;
    border: none;
    border-left: solid 1px #ebecf0;
    border-right: solid 1px #ebecf0;
    font-size: 12px;
    font-family: '나눔바른고딕';
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
  }
  .place_pic {
    width: 20%;
    height: 40px;
    font-size: 12px;
    font-family: '나눔바른고딕';
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    background-color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
    margin: 0px;
    cursor: pointer;
  }
  .input_left > textarea {
    width: 83%;
    height: 64px;
    border: none;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    resize: none;
    display: inline-block;
  }
  .input_left > textarea::placeholder {
    font-size: 14px;
    font-weight: 300;
    font-family: '나눔바른고딕L';
    color: rgba(38, 38, 38, 0.35);
  }
  .input_left > input#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .place_pic_preview {
    width: 100%;
    float: left;
  }
  .place_pic_preview > img#output_img {
    max-width: 100px;
    margin: 8px;
  }
  .posting_input_section button {
    width: 17%;
    height: 64px;
    float: right;
    background-color: #e6e6e6;
    border: solid 1px #e6e6e6;
    font-size: 16px;
    font-family: '나눔바른고딕';
    color: #ffffff;
  }
  #items_list {
    width: 100%;
    max-height: 320px;
    overflow: auto;
    background-color: #fff;
    border-right: solid 1px #e6e6e6;
    border-left: solid 1px #e6e6e6;
    position: absolute;
    top: 240px;
    z-index: 1000000;
  }
  #items_list > div {
    padding: 8px;
    border-bottom: solid 1px #e6e6e6;
  }
  #items_list > div:hover {
    background-color: #fafafa;
  }
  #items_list #title {
    display: block;
    font-size: 12px;
    font-family: '나눔바른고딕';
  }
  #items_list #address {
    display: block;
    font-size: 10px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.7);
  }

  .posts {
    background-color: #fff;
    margin-bottom: 16px;
  }
  .posts_wrapper {
    padding: 16px;
  }
  .posts_header > div {
    width: 64px;
    height: 20px;
    border-radius: 4px;
    border: solid 1px #f35865;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #f35865;
    display: inline-block;
    vertical-align: middle;
  }
  .posts_header > p {
    font-family: '나눔바른고딕B';
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
  }
  .posts_header > p > span {
    font-size: 12px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }
  .posts_body {
    padding: 12px 0px;
  }
  .posts_body > p {
    font-family: '나눔바른고딕';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin: 0;
  }
  .posts_img {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-top: 8px;
  }
  .posts_img > img {
    width: 160px;
    height: 120px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: top;
  }
  .posts_img > div {
    width: 135px;
    height: 70px;
    background-color: rgba(56, 59, 65, 0.54);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
  }
  .posts_footer {
    margin-top: 16px;
  }
  .posts_footer > p {
    font-family: '나눔바른고딕';
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    margin-right: 20px;
  }
  .posts_footer > p > i {
    font-size: 18px;
    margin-right: 8px;
  }
  .posts_footer > img {
    width: 18px;
    margin-right: 12px;
    margin-bottom: 6px;
  }
  .posts_footer > p#comment_count {
    cursor: pointer;
  }
  .posts_reply {
    border-top: solid 1px #ebecf0;
  }
  .writing_zone{
    padding: 16px 8px;
    font-family: '나눔바른고딕';
  }
  .replies {
    padding: 0px 16px;
    margin-top: 16px;
    font-family: '나눔바른고딕';
  }
  .writing_zone_upper {
    display: none;
  }
  .writing_zone_upper > img,
  .writing_zone_upper > p,
  .writing_zone_upper > h4,
  .replies_upper > img,
  .replies_upper > p,
  .replies_upper > h4 {
    display: inline-block;
    vertical-align: middle;
  }
  .writing_zone_upper > img,
  .replies_upper > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .writing_zone_upper > p,
  .replies_upper > p {
    font-size: 12px;
    font-family: '나눔바른고딕';
    margin: 0 0 0 8px;
  }
  .writing_zone_upper > h4 {
    font-size: 12px;
    font-family: '나눔바른고딕';
    font-weight: normal;
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }

  .writing_zone_bottom > textarea {
    width: 82%;
    height: 40px;
    font-family: '나눔바른고딕L';
    font-size: 14px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 8px;
    margin: 0;
    resize: none;
  }
  .writing_zone_bottom > textarea::placeholder {
    font-size: 14px;
    font-weight: normal;
    font-family: '나눔바른고딕L';
    color: rgba(38, 38, 38, 0.35);
  }
  .writing_zone_bottom > button {
    width: 18%;
    height: 40px;
    border: solid 1px #e6e6e6;
    background-color: #e6e6e6;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    color: #ffffff;
  }
  .replies_upper > h4 {
    font-family: '나눔바른고딕';
    font-size: 12px;
    font-weight: normal;
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }
  .replies_upper > h4 > span {
    cursor: pointer;
  }
  .replies_body {
    font-family: '나눔바른고딕L';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 12px 0 0 0;
  }
  .comment_edit_delete {
    display: inline-block;
    float: right;
  }
  .comment_edit_delete > a {
    font-family: '나눔바른고딕';
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    line-height: 24px;
    margin-left: 8px;
  }
  .comment_edit_delete > a:hover {
    color: rgba(38, 38, 38, 0.7);
  }

  .map {
    width: 342px;
    height: 694px;
    margin-top: 24px;
    display: none;
  }
  .iw_inner {
    width: 320px;
    padding: 16px;
  }
  .iw_inner > h3 {
    font-family: "나눔바른고딕B";
    font-size: 12px;
  }
  .iw_inner > p {
    margin: 0px;
    font-family: "나눔바른고딕";
    font-size: 12px;
  }

  .no_share {
    width: 100%;
    height: 400px;
    background-color: #fff;
    color: rgba(38,38,38,0.7);
    text-align: center;
    padding-top: 160px;
  }
}

@media (min-width:768px) {
  .place_around_content {
    width: 100%;
    min-height: 1200px;
    padding-top: 40px;
    background-color: #f5f5f5;
  }
  .place_around_content_wrapper {
    width: 1100px;
    padding: 0 16px;
    margin: 0 auto 0;
  }
  .posting_zone {
    width: 696px;
    min-height: 694px;
    margin-bottom: 80px;
    display: inline-block;
  }
  .posting_zone_nav {
    margin-bottom: 20px;
  }
  .posting_zone_nav_compenent {
    width: 80px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
  }
  div.selected {
    background-color: #f35865;
    color: #ffffff;
    border: none;
  }
  .posting_input_section {
    width: 342px;
    margin-right: 16px;
    float: right;
  }
  .posting_input_section > p {
    font-family: '나눔바른고딕';
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 8px;
  }
  .input_box {
    width: 100%;
    background-color: #fff;
  }
  .input_left {
    border: solid 1px #ebecf0;
    display: inline-block;
  }
  .posting_place_info {
    border-bottom: solid 1px #ebecf0;
  }
  .place_category {
    width: 76px;
    height: 40px;
    border: none;
    background: none;
    background-color: #fff;
    font-size: 12px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.7);
    line-height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
  }
  .place_name {
    width: 192px;
    height: 40px;
    border: none;
    border-left: solid 1px #ebecf0;
    border-right: solid 1px #ebecf0;
    font-size: 12px;
    font-family: '나눔바른고딕';
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
  }
  .place_pic {
    width: 72px;
    height: 40px;
    font-size: 12px;
    font-family: '나눔바른고딕';
    line-height: 40px;
    color: rgba(38, 38, 38, 0.7);
    background-color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
    margin: 0px;
    cursor: pointer;
  }
  .input_left > textarea {
    width: 100%;
    height: 142px;
    border: none;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    resize: none;
  }
  .input_left > textarea::placeholder {
    font-size: 16px;
    font-weight: 300;
    font-family: '나눔바른고딕L';
    color: rgba(38, 38, 38, 0.35);
  }
  .input_left > input#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .place_pic_preview {
    width: 100%;
  }
  .place_pic_preview > img#output_img {
    max-width: 100px;
    margin: 8px;
  }
  .posting_input_section button {
    width: 100%;
    height: 64px;
    background-color: #e6e6e6;
    border: solid 1px #e6e6e6;
    font-size: 16px;
    font-family: '나눔바른고딕';
    color: #ffffff;
  }
  #items_list {
    width: 342px;
    max-height: 320px;
    overflow: auto;
    background-color: #fff;
    border-right: solid 1px #e6e6e6;
    border-left: solid 1px #e6e6e6;
    position: absolute;
    top: 475px;
    z-index: 1000000;
  }
  #items_list > div {
    padding: 8px;
    border-bottom: solid 1px #e6e6e6;
  }
  #items_list > div:hover {
    background-color: #fafafa;
  }
  #items_list #title {
    display: block;
    font-size: 12px;
    font-family: '나눔바른고딕';
  }
  #items_list #address {
    display: block;
    font-size: 10px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.7);
  }

  .posts {
    background-color: #fff;
    margin-bottom: 16px;
  }
  .posts_wrapper {
    padding: 16px 16px 24px;
  }
  .posts_header > div {
    width: 64px;
    height: 22px;
    border-radius: 4px;
    border: solid 1px #f35865;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #f35865;
    display: inline-block;
    vertical-align: middle;
  }
  .posts_header > p {
    font-family: '나눔바른고딕B';
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
  }
  .posts_header > p > span {
    font-size: 12px;
    font-family: '나눔바른고딕';
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }
  .posts_body {
    margin-top: 24px;
  }
  .posts_body > p {
    font-family: '나눔바른고딕';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin: 0;
  }
  .posts_img {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-top: 24px;
  }
  .posts_img > img {
    width: 160px;
    height: 120px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .posts_img > div {
    width: 135px;
    height: 70px;
    background-color: rgba(56, 59, 65, 0.54);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
  }
  .posts_footer {
    margin-top: 24px;
  }
  .posts_footer > p {
    font-family: '나눔바른고딕';
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    margin-right: 20px;
  }
  .posts_footer > p > i {
    font-size: 18px;
    margin-right: 8px;
  }
  .posts_footer > img {
    width: 18px;
    margin-right: 12px;
    margin-bottom: 6px;
  }
  .posts_footer > p#comment_count {
    cursor: pointer;
  }
  .posts_reply {
    border-top: solid 1px #ebecf0;
  }
  .writing_zone,
  .replies {
    padding: 12px 16px;
    font-family: '나눔바른고딕';
  }
  .writing_zone_upper {
    display: none;
  }
  .writing_zone_upper > img,
  .writing_zone_upper > p,
  .writing_zone_upper > h4,
  .replies_upper > img,
  .replies_upper > p,
  .replies_upper > h4 {
    display: inline-block;
    vertical-align: middle;
  }
  .writing_zone_upper > img,
  .replies_upper > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .writing_zone_upper > p,
  .replies_upper > p {
    font-size: 12px;
    font-family: '나눔바른고딕';
    margin: 0 0 0 8px;
  }
  .writing_zone_upper > h4 {
    font-size: 12px;
    font-family: '나눔바른고딕';
    font-weight: normal;
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }

  .writing_zone_bottom > textarea {
    width: 600px;
    height: 40px;
    font-family: '나눔바른고딕L';
    font-size: 14px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 8px;
    margin: 0;
    resize: none;
  }
  .writing_zone_bottom > textarea::placeholder {
    font-size: 14px;
    font-weight: normal;
    font-family: '나눔바른고딕L';
    color: rgba(38, 38, 38, 0.35);
  }
  .writing_zone_bottom > button {
    width: 64px;
    height: 40px;
    border: solid 1px #e6e6e6;
    background-color: #e6e6e6;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    color: #ffffff;
  }
  .replies {
    margin-top: 8px;
  }
  .replies_upper > h4 {
    font-family: '나눔바른고딕';
    font-size: 12px;
    font-weight: normal;
    color: rgba(38, 38, 38, 0.35);
    margin: 0 0 0 8px;
  }
  .replies_upper > h4 > span {
    cursor: pointer;
  }
  .replies_body {
    font-family: '나눔바른고딕L';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    margin: 12px 0 0 0;
  }
  .comment_edit_delete {
    display: inline-block;
    float: right;
  }
  .comment_edit_delete > a {
    font-family: '나눔바른고딕';
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    line-height: 24px;
    margin-left: 8px;
  }
  .comment_edit_delete > a:hover {
    color: rgba(38, 38, 38, 0.7);
  }

  .map {
    width: 342px;
    height: 694px;
    margin-top: 24px;
  }
  .iw_inner {
    width: 320px;
    padding: 16px;
  }
  .iw_inner > h3 {
    font-family: "나눔바른고딕B";
    font-size: 12px;
  }
  .iw_inner > p {
    margin: 0px;
    font-family: "나눔바른고딕";
    font-size: 12px;
  }

  .no_share {
    width: 696px;
    height: 400px;
    background-color: #fff;
    color: rgba(38,38,38,0.7);
    text-align: center;
    padding: 160px;
  }
}

