#series_waglewagle {
  color: #262626;
  border-bottom: solid 2px #262626;
}

@media (max-width:768px) {
  .base_header,
  .series_title_zone,
  .series_nav {
    display: none;
  }
  .event_talk_content {
    width: 100%;
  }
  .event_talk_left {
    display: none;
  }
  .event_talk_right {
    width: 100%;
  }
  .mobile_wagle_header {
    width: 100%;
    height: 48px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .mobile_wagle_header > a > i {
    color: #262626;
    line-height: 48px;
    position: absolute;
    left: 16px;
  }
  .mobile_wagle_header > p {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    line-height: 48px;
    margin: 0;
  }
  .topic_title {
    border-bottom: solid 2px #bb213c;
    padding: 50px 16px 16px;
    margin-bottom: 20px;
    position: relative;
  }
  .topic_title > i {
    color: rgba(38, 38, 38, 0.7);
    line-height: 30px;
    position: absolute;
    right: 16px;
  }
  .rotated {
    animation: rotated 0.5s;
    transform: rotateZ(180deg);
  }
  @keyframes rotated {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(180deg);
    }
  }
  .topic_title_text {
    max-height: 40px;
    overflow: hidden;
  }
  .topic_title_text > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    margin: 0 0 8px 0;
  }
  .topic_title_text > h4 {
    display: none;
    font-family: "나눔바른고딕";
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(38, 38, 38, 0.35);
    margin: 0;
  }
  .talks_zone {
    padding: 0 16px 60px;
  }
  .talks {
    padding-top: 14px;
    margin-bottom: 10px;
  }
  .talks_profile > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin:0;
  }
  .talks_profile > p > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
  .created_at,
  .report_thistalk {
    color: rgba(38, 38, 38, 0.35);
  }
  .talks_profile > div {
    float: right;
    display: inline-block;
    vertical-align: middle;
  }
  .talks_profile > div > a {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    text-decoration: none;
    margin-left: 8px;
  }
  .talks_profile > div > a:hove {
    text-decoration: none;
  }

  .talks_body {
    margin-top: 16px;
  }
  .talks_body > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }
  .go_first {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #bb213c;
    text-align: right;
    padding-right: 16px;
    cursor: pointer;
    margin: 0 0 16px;
  }
  .mobile_wagle_footer {
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
  }
  .mobile_wagle_footer > div {
    width: 49%;
    font-family: "나눔바른고딕";
    font-size: 16px;
    line-height: 56px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
  .write_ur_talk {
    display: none;
    width: 100%;
    background-color: #f5f5f5;
    padding: 12px 8px 8px;
    position: fixed;
    bottom: 0;
  }
  .writer_profile > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    margin: 0;
  }
  .writer_profile > p > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
  .use_anony,
  .use_nickname {
    color: #bb213c;
    margin-left: 8px;
  }
  .use_anony:hover,
  .use_nickname:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .write_zone {
    margin: 12px auto 0;
  }
  .write_zone_wrapper {
    width: 359px;
    margin: 0 auto;
    position: relative;
  }
  .write_zone_wrapper > textarea {
    width: 295px;
    height: 64px;
    resize: none;
    border: solid 1px #e6e6e6;
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    margin: 0;
  }
  .write_zone_wrapper > textarea::placeholder {
    font-family: "나눔바른고딕";
    font-size: 14px;
    font-weight: 300;
    color: rgba(38, 38, 38, 0.35);
  }
  .write_zone_wrapper > button {
    width: 64px;
    height: 64px;
    border: none;
    background-color: #e6e6e6;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: absolute;
  }
}



@media (min-width:768px) {
  .event_talk_content {
    width: 100%;
    background-color: #f5f5f5;
  }
  .event_talk_content_wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 16px 120px;
  }
  .event_talk_right {
    width: 696px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    float: right;
    display: inline-block;
    vertical-align: top;
  }
  .topic_title {
    border-bottom: solid 2px #bb213c;
    padding: 12px 16px 16px;
    margin-bottom: 20px;
  }
  .topic_title_text > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    margin: 0 0 8px 0;
  }
  .topic_title_text > h4 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(38, 38, 38, 0.35);
    margin: 0;
  }
  .talks_zone {
    height: 664px;
    padding: 0 16px;
    margin-bottom: 16px;
    overflow-y: auto;
  }
  .talks {
    padding-top: 14px;
    margin-bottom: 10px;
  }
  .talks_profile > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin:0;
  }
  .talks_profile > p > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
  .created_at,
  .report_thistalk {
    color: rgba(38, 38, 38, 0.35);
  }
  .talks_profile > div {
    float: right;
    display: inline-block;
    vertical-align: middle;
  }
  .talks_profile > div > a {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    text-decoration: none;
    margin-left: 8px;
  }
  .talks_profile > div > a:hove {
    text-decoration: none;
  }

  .talks_body {
    margin-top: 16px;
  }
  .talks_body > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }
  .go_first {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #bb213c;
    text-align: right;
    padding-right: 16px;
    cursor: pointer;
    margin: 0 0 16px;
  }
  .write_ur_talk {
    width: 100%;
    height: 128px;
    border-top: solid 1px #e6e6e6;
    padding: 12px 16px 16px;
  }
  .writer_profile > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .writer_profile > p > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
  .use_anony,
  .use_nickname {
    color: #bb213c;
    margin-left: 8px;
  }
  .use_anony:hover,
  .use_nickname:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .writer_profile > h4 {
    font-size: 12px;
    color: rgba(56, 59, 65, 0.54);
    float: right;
    margin: 5px 0 0;
  }
  .write_zone_wrapper {
    margin-top: 12px;
    position: relative;
  }
  .write_zone_wrapper > textarea {
    width: 600px;
    height: 64px;
    resize: none;
    border: solid 1px #e6e6e6;
    font-family: "나눔바른고딕";
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    margin: 0;
  }
  .write_zone_wrapper > textarea::placeholder {
    font-family: "나눔바른고딕";
    font-size: 14px;
    font-weight: 300;
    color: rgba(38, 38, 38, 0.35);
  }
  .write_zone_wrapper > button {
    width: 64px;
    height: 64px;
    border: none;
    background-color: #e6e6e6;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: absolute;
  }
}
