@media (max-width:768px) {
  #series_basic_info {
    color: #262626;
    border-bottom: solid 2px #262626;
  }
  .event_content {
    width: 100%;
    min-width: 375px;
    padding: 24px 16px
  }
  .event_content_wrapper {
    width: 100%;
    margin: 0 auto 0;
  }
  .event_intro_text p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .event_intro_text h4 {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    line-height: 1.5;
    margin: 0;
  }
  .event_intro_img {
    height: 136px;
    padding-top: 24px;
    overflow: auto;
    white-space: nowrap;
  }
  .event_intro_img img {
    width: 160px;
    height: 108px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .event_time_place {
    margin-top: 36px;
  }
  .event_time p,
  .event_place p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .event_time,
  .event_place {
    width: 100%;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  .event_place {
    margin-top: 40px;
  }
  .event_place > a:hover {
    color: #000;
    text-decoration: none;
  }
  .event_place h4 {
    font-family: "나눔바른고딕B";
    font-size: 14px;
    color: #262626;
    margin: 0 0 8px 0;
  }
  .event_place h5 {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    margin: 0;
  }
  .jq-star-svg {
    padding: 1px;
    vertical-align: top;
  }
  .e_place_rating_review {
    width: 100%;
    padding: 12px 0;
  }
  .e_place_rating {
    display: inline-block;
  }
  .e_place_view_rating,
  .e_place_excitement_rating {
    display: inline-block;
  }
  .e_place_view_rating label,
  .e_place_excitement_rating label,
  .e_place_view_rating > div,
  .e_place_excitement_rating > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
  .e_place_view_rating label,
  .e_place_excitement_rating label {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
  }
  .e_place_view_rating > div,
  .e_place_excitement_rating > div {
    margin-left: 8px;
    margin-right: 16px;
  }
  .e_place_review {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
  }
  .e_place_map {
    width: 100%;
    height: 252px;
  }

  .event_etc_info {
    padding-top: 32px;
  }
  .event_casting > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
  .event_casting div.casting_schedule {
    height: 22px;
    font-family: "나눔바른고딕B";
    font-size: 10px;
    color: #bb213c;
    line-height: 22px;
    text-align: center;
    border: solid 1px #bb213c;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 8px;
    margin-left: 16px;
  }
  .event_casting div.casting_schedule:hover {
    color: #fff;
    background-color: #bb213c;
  }
  .actor_introduction {
    padding-top: 32px;
  }
  .actor_info {
    text-align: center;
    display: inline-block;
    margin-right: 24px;
  }
  .actor_pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
  }
  .actor_info > p {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: #262626;
    text-align: center;
    margin: 14px 0 0 0;
  }
  .event_etc_price {
    margin-top: 40px;
  }
  .event_etc_price > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .price_table {
    width: 100%;
  }
  .price_thead {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    line-height: 40px;
  }
  .price_thead > .price_tr {
    border-bottom: solid 1px #e6e6e6;
  }
  .price_tr {
    padding: 0 25px 0 16px;
  }
  .price_tbody {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    line-height: 48px;
  }
  .seat_level, .level_price {
    display: inline-block;
    vertical-align: middle;
  }
  .level_price {
    width: 70px;
    text-align: right;
    float: right;
  }
  .event_etc {
    margin-top: 40px;
  }
  .event_etc > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .event_etc ol {
    -webkit-padding-start: 16px;
  }
  .event_etc li {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    line-height: 1.5;
  }

  /* 달력 */

  .fc-left > button,
  .fc-button-group > button {
    height: 24px;
    padding: 0px 6px;
    border: none;
    box-shadow: none;
    background: none;
    background-color: #e6e6e6;
    color: #ffffff;
    font-family: '나눔바른고딕';
    font-size: 12px;
    text-shadow: none;
  }
  .fc-button-group > button.fc-state-active {
    background-color: #cccccc;
  }
  .fc button .fc-icon {
    margin: 0px;
  }
  .fc-center > h2 {
    font-family: '나눔바른고딕';
    font-size: 20px;
    color: #676767;
  }
  .fc-widget-header {
    font-size: 14px;
    font-family: '나눔바른고딕B' !important;
    color: #b3b3b3 !important;
    line-height: 20px;
  }
  .fc-unthemed .fc-content,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-list-heading td,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-row,
  .fc-unthemed tbody,
  .fc-unthemed td,
  .fc-unthemed th,
  .fc-unthemed thead {
    border-color: #e6e6e6;
  }
  .fc-unthemed thead {
    font-family: '나눔바른고딕';
    font-size: 11px;
    color: #676767;
  }
  .fc-day-grid-event {
    background-color: #F75C02;
    border: none;
    font-family: '나눔바른고딕L';
    font-size: 10px;
    line-height: 16px;
    color: #ffffff !important;
  }
  .fc-view-container {
    margin-top:
  }
  .fc-body .fc-row {
    min-height: 44px !important;
    height: 44px !important;
  }
  .fc-body .fc-day-grid-container {
    height: auto !important;
  }


/*  .other_events {
    width: 100%;
    background-color: #f4f5f7;
    padding: 40px 0 64px;
  }
  .other_events_wrapper {
    width: 1100px;
    padding: 0 16px;
    margin: 0 auto 0;
  }
  .other_events_wrapper > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    line-height: 1.67;
    text-align: left;
    margin: 0;
  }
  .other_events_list {
    padding-top: 40px;
  }*/
}

@media (min-width:768px) {
  #series_basic_info {
    color: #262626;
    border-bottom: solid 2px #262626;
  }
  .event_content {
    width: 100%;
    min-width: 1100px;
  }
  .event_content_wrapper {
    width: 1100px;
    padding: 42px 16px 48px 16px;
    margin: 0 auto 0;
  }
  .event_intro_text {
    height: 230px;
    display: inline-block;
    vertical-align: middle;
  }
  .event_intro_text p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .event_intro_text h4 {
    width: 696px;
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    line-height: 1.5;
    margin: 0;
  }
  .carousel-indicators li {
    width: 8px;
    height: 4px;
  }
  .carousel-indicators .active {
    width: 10px;
    height: 5px;
  }
  .event_intro_img {
    width: 340px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    float: right;
  }
  .carousel-item > img {
    width: 100%;
  }

  .event_time_place {
    padding-top: 42px;
  }
  .event_time,
  .event_place {
    display: inline-block;
    vertical-align: middle;
  }
  .event_time p,
  .event_place p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    margin: 0 0 24px 0;
  }
  .event_time {
    width: 518px;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  .event_place {
    float: right;
  }
  .event_place > a:hover {
    color: #000;
    text-decoration: none;
  }
  .event_place h4 {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: #262626;
    margin: 0 0 8px 0;
  }
  .event_place h5 {
    font-family: "나눔바른고딕";
    font-size: 16px;
    text-align: left;
    color: rgba(38, 38, 38, 0.7);
    margin: 0;
  }
  .e_place_rating_review {
    width: 100%;
    margin-top: 24px;
  }
  .e_place_rating {
    display: inline-block;
  }
  .e_place_view_rating,
  .e_place_excitement_rating {
    display: inline-block;
  }
  .e_place_view_rating label,
  .e_place_excitement_rating label,
  .e_place_view_rating > div,
  .e_place_excitement_rating > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
  .e_place_view_rating label,
  .e_place_excitement_rating label {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
  }
  .e_place_view_rating > div,
  .e_place_excitement_rating > div {
    padding-top: 4px;
    margin-left: 8px;
    margin-right: 16px;
  }
  .e_place_review {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    display: inline-block;
    float: right;
  }
  .jq-star-svg {
    padding: 1px;
    vertical-align: top;
  }
  .e_place_map {
    width: 518px;
    height: 322px;
    margin-top: 12px;
  }
  .iw_inner {
    width: 320px;
    padding: 16px;
  }
  .iw_inner > h3 {
    font-family: "나눔바른고딕B";
    font-size: 12px;
  }
  .iw_inner > p {
    margin: 0px;
    font-family: "나눔바른고딕";
    font-size: 12px;
  }

  .event_etc_info {
    padding-top: 48px;
  }
  .event_casting,
  .event_etc_place {
    display: inline-block;
    vertical-align: top;
  }
  .event_casting {
    padding-bottom: 64px;
  }
  .event_casting > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
  .event_casting div.casting_schedule {
    height: 22px;
    font-family: "나눔바른고딕B";
    font-size: 10px;
    color: #bb213c;
    line-height: 22px;
    text-align: center;
    border: solid 1px #bb213c;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 8px;
    margin-left: 16px;
  }
  .event_casting div.casting_schedule:hover {
    color: #fff;
    background-color: #bb213c;
  }
  .actor_introduction {
    padding-top: 40px;
  }
  .actor_info {
    display: inline-block;
    margin-right: 24px;
  }
  .actor_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .actor_info > p {
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: #262626;
    text-align: center;
    margin: 8px 0 0 0;
  }
  .event_etc_price {
    float: right;
  }
  .event_etc_price > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .price_table {
    width: 518px;
  }
  .price_thead {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: rgba(38, 38, 38, 0.7);
    line-height: 40px;
  }
  .price_thead > .price_tr {
    border-bottom: solid 1px #e6e6e6;
  }
  .price_tr {
    padding: 0 25px 0 16px;
  }
  .price_tbody {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    line-height: 48px;
  }
  .seat_level, .level_price {
    display: inline-block;
    vertical-align: middle;
  }
  .level_price {
    width: 70px;
    text-align: right;
    float: right;
  }
  .event_etc {
    max-width: 518px;
    min-height: 276px;
  }
  .event_etc > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    margin: 0 0 16px 0;
  }
  .event_etc ol {
    -webkit-padding-start: 16px;
  }
  .event_etc li {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    line-height: 1.5;
  }

  /* 달력 */

  .fc-left > button,
  .fc-button-group > button {
    height: 28px;
    padding: 0px 8px;
    border: none;
    box-shadow: none;
    background: none;
    background-color: #e6e6e6;
    color: #ffffff;
    font-family: '나눔바른고딕';
    font-size: 12px;
    text-shadow: none;
  }
  .fc-button-group > button.fc-state-active {
    background-color: #cccccc;
  }
  .fc button .fc-icon {
    margin: 0px;
  }
  .fc-center > h2 {
    font-family: '나눔바른고딕';
    font-size: 24px;
    color: #676767;
  }
  .fc-widget-header {
    font-size: 14px;
    font-family: '나눔바른고딕B' !important;
    color: #b3b3b3 !important;
    line-height: 20px;
  }
  .fc-unthemed .fc-content,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-list-heading td,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-row,
  .fc-unthemed tbody,
  .fc-unthemed td,
  .fc-unthemed th,
  .fc-unthemed thead {
    border-color: #e6e6e6;
  }
  .fc-unthemed thead {
    font-family: '나눔바른고딕';
    font-size: 12px;
    color: #676767;
  }
  .fc-day-grid-event {
    background-color: #F75C02;
    border: none;
    font-family: '나눔바른고딕L';
    font-size: 11px;
    line-height: 16px;
    color: #ffffff !important;
  }
  .fc-view-container {
    margin-top:
  }
  .fc-body .fc-row {
    height: 60px !important;
  }
  .fc-body .fc-day-grid-container {
    height: auto !important;
  }

  /*fc-week fc-widget-content fc-rigid*/

/*  .other_events {
    width: 100%;
    background-color: #f4f5f7;
    padding: 40px 0 64px;
  }
  .other_events_wrapper {
    width: 1100px;
    padding: 0 16px;
    margin: 0 auto 0;
  }
  .other_events_wrapper > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    line-height: 1.67;
    text-align: left;
    margin: 0;
  }
  .other_events_list {
    padding-top: 40px;
  }*/

}


