#series_rating_review {
  color: #262626;
  border-bottom: solid 2px #262626;
}


@media (max-width:768px) {
  .event_review_content {
    width: 100%;
    margin: 0 auto 0;
  }
  .event_review_top {
    padding: 24px 16px 40px;
  }
  .event_review_rating {
  }
  .event_review_rating > p {
    font-family: "나눔바른고딕B";
    font-size: 20px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .event_review_rating > span {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .go_rate {
    height: 22px;
    border-radius: 2px;
    border: solid 1px rgb(187, 33, 60);
    font-family: "나눔바른고딕B";
    font-size: 10px;
    line-height: 22px;
    color: rgb(187, 33, 60);
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    margin-left: 16px;
    cursor: pointer;
  }
  .total_rating_zone {
    padding: 16px 0 0 8px;
  }
  .total_rating_zone > p {
    font-family: "나눔바른고딕B";
    font-size: 32px;
    display: inline-block;
    margin: 0;
  }
  .total_rating_zone > div {
    width: 128px;
    height: 24px;
    background-color: grey;
    display: inline-block;
    margin-left: 16px;
  }
  .star_graph {
    width: 285px;
    height: 100px;
    background-color: grey;
    padding: 16px 0 0 8px;
  }
  .event_emotion {
    width: 100%;
    padding-top: 40px;
  }
  .event_emotion > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin-bottom: 16px;
  }
  .event_emotion > div {
    height: 32px;
    border-radius: 2px;
    background-color: #e6e6e6;
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    text-align: center;
    line-height: 32px;
    display: inline-block;
    padding: 0px 16px;
    margin: 0 8px 16px 0;
  }
  .event_emotion > div:nth-child(2) {
    background-color: #840117;
    color: #fff;
  }
  .event_emotion > div:nth-child(3) {
    background-color: #bb213c;
    color: #fff;
  }
  .event_emotion > div:nth-child(4) {
    background-color: #f35865;
    color: #fff;
  }

  .event_review_bot {
    width: 100%;
    background-color: #f5f5f5;
  }
  .event_review_bot_wrapper {
    width: 100%;
    margin: 0 auto 0;
    padding: 24px 16px 0;
  }
  .event_review_bot_header > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .event_review_bot_header > span {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
  }
  .event_reviews_wrapper {
    padding-top: 16px;
  }
  .event_reviews {
    width: 345px;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    margin: 0 0 16px 0;
  }
  .reviews_user_info {
    display: inline-block;
  }
  .reviews_user_pic {
    width: 48px;
    height: 48px;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  .reviews_user_profile {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }
  .reviews_user_profile > p {
    font-family: "나눔바른고딕";
    font-size: 14px;
    color: #262626;
    margin: 0 0 4px 0;
  }
  .reviews_user_profile > h4 {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);;
    margin: 0;
  }
  .reviews_user_badge {
    display: inline-block;
    float: right;
  }
  .reviews_user_badge > div {
    height: 24px;
    background-color: #f35865;
    font-family: "나눔바른고딕B";
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    display: inline-block;
    padding: 0 16px;
    margin-left: 8px;
  }
  .reviews_rating_zone {
    padding-top: 16px;
  }
  .reviews_rating_zone > div {
    width: 128px;
    height: 24px;
    background-color: grey;
  }
  .reviews_body {
    padding: 20px 0 0;
    border-bottom: solid 2px #ebecf0;
  }
  .reviews_body > img {
    width: 100%;
    margin-bottom: 16px;
  }
  .reviews_body_text {
    max-height: 85px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .reviews_body_text > p { /* 폰트 크기, line-height 등 p태그의 높이에 영향을 줄 수 있는 것을 변경시 자바스크립트 수정 필요 */
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    line-height: 1.75;
    text-align: left;
    margin: 0;
  }
  .reviews_body > h4 {
    width: 100%;
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    color: rgba(38, 38, 38, 0.7);
    padding-bottom: 16px;
    margin: 0;
    cursor: pointer;
  }
  .reviews_footer {
    padding-top: 16px;
  }
  .reviews_footer > i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  .reviews_footer > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
}


@media (min-width:768px) {
  .event_review_content {
    width: 1100px;
    margin: 0 auto 0;
  }
  .event_review_top {
    min-height: 304px;
    padding: 40px 16px 54px 16px;
  }
  .event_review_rating {
    display: inline-block;
    vertical-align: top;
  }
  .event_review_rating > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .event_review_rating > span {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .go_rate {
    height: 22px;
    border-radius: 2px;
    border: solid 1px rgb(187, 33, 60);
    font-family: "나눔바른고딕B";
    font-size: 10px;
    line-height: 22px;
    color: rgb(187, 33, 60);
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    margin-left: 16px;
    cursor: pointer;
  }
  .total_rating_zone {
    padding: 16px 0 0 8px;
  }
  .total_rating_zone > p {
    font-family: "나눔바른고딕B";
    font-size: 32px;
    display: inline-block;
    margin: 0;
  }
  .total_rating_zone > div {
    width: 128px;
    height: 24px;
    background-color: grey;
    display: inline-block;
    margin-left: 16px;
  }
  .star_graph {
    width: 285px;
    height: 100px;
    background-color: grey;
    padding: 16px 0 0 8px;
  }
  .event_emotion {
    width: 630px;
    float: right;
    display: inline-block;
    vertical-align: top;
  }
  .event_emotion > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    margin-bottom: 16px;
  }
  .event_emotion > div {
    height: 32px;
    border-radius: 2px;
    background-color: #e6e6e6;
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);
    text-align: center;
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 16px;
    margin: 0 12px 16px 0;
  }
  .event_emotion > div:nth-child(2) {
    background-color: #840117;
    color: #fff;
  }
  .event_emotion > div:nth-child(3) {
    background-color: #bb213c;
    color: #fff;
  }
  .event_emotion > div:nth-child(4) {
    background-color: #f35865;
    color: #fff;
  }

  .event_review_bot {
    width: 100%;
    min-width: 1100px;
    background-color: #f5f5f5;
  }
  .event_review_bot_wrapper {
    width: 1100px;
    margin: 0 auto 0;
    padding: 48px 16px 0;
  }
  .event_review_bot_header > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  .event_review_bot_header > span {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
  }
  .event_reviews_wrapper {
    padding-top: 16px;
    column-count: 3;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
  .event_reviews {
    width: 345px;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
    padding: 24px;
    margin: 0 0 16px 0;
  }
  .reviews_user_info {
    display: inline-block;
  }
  .reviews_user_pic {
    width: 48px;
    height: 48px;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  .reviews_user_profile {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }
  .reviews_user_profile > p {
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    margin: 0 0 4px 0;
  }
  .reviews_user_profile > h4 {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: rgba(38, 38, 38, 0.7);;
    margin: 0;
  }
  .reviews_user_badge {
    display: inline-block;
    float: right;
  }
  .reviews_user_badge > div {
    height: 24px;
    background-color: #f35865;
    font-family: "나눔바른고딕B";
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    display: inline-block;
    padding: 0 16px;
    margin-left: 8px;
  }
  .reviews_rating_zone {
    padding-top: 16px;
  }
  .reviews_rating_zone > div {
    width: 128px;
    height: 24px;
    background-color: grey;
  }
  .reviews_body {
    padding: 24px 0 0;
    border-bottom: solid 2px #ebecf0;
  }
  .reviews_body > img {
    width: 100%;
    margin-bottom: 16px;
  }
  .reviews_body_text {
    max-height: 140px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .reviews_body_text > p { /* 폰트 크기, line-height 등 p태그의 높이에 영향을 줄 수 있는 것을 변경시 자바스크립트 수정 필요 */
    font-family: "나눔바른고딕";
    font-size: 16px;
    color: #262626;
    line-height: 1.75;
    text-align: left;
    margin: 0;
  }
  .reviews_body > h4 {
    width: 100%;
    font-family: "나눔바른고딕";
    font-size: 16px;
    font-weight: normal;
    color: rgba(38, 38, 38, 0.7);
    padding-bottom: 16px;
    margin: 0;
    cursor: pointer;
  }
  .reviews_footer {
    padding-top: 16px;
  }
  .reviews_footer > i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  .reviews_footer > p {
    font-family: "나눔바른고딕";
    font-size: 12px;
    color: #262626;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }
}
