@media (max-width:768px) {
  .series_title_zone {
    width: 100%;
    min-width: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    background-blend-mode: screen;
    padding: 44px 0 20px;
  }
  .series_title_zone_wrapper {
    width: 375px;
    margin: 0 auto 0;
    padding-left: 16px;
    background-image: linear-gradient(to right, rgba(26, 0, 4, 0.8), rgba(0, 0, 0, 0.5));
  }
  .series_title_zone_wrapper > p {
    font-family: "나눔바른고딕B";
    font-size: 24px;
    color: #fff;
    margin: 0;
  }
  .series_title_zone_wrapper > p > i {
    font-size: 16px;
    margin-left: 12px;
  }
  .fas {
    color: #f35966;
  }
  .series_nav {
    width: 100%;
    min-width: 375px;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
  }
  .series_nav_wrapper {
    width: 375px;
    margin: 0 auto 0;
  }
  .series_nav_component {
    width: 19%;
    font-family: "나눔바른고딕B";
    font-size: 12px;
    color: rgb(38, 38, 38, 0.35);
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin: 0;
  }
}

@media (min-width:768px) {
  .series_title_zone {
    width: 100%;
    min-width: 1100px;
    height: 184px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-blend-mode: screen;
  }
  .series_title_zone_wrapper {
    width: 100%;
    height: 184px;
    margin: 0 auto 0;
    background-image: linear-gradient(to right, rgba(26, 0, 4, 0.8), rgba(0, 0, 0, 0.5));
  }
  .series_title_zone_wrapper > p {
    width: 1100px;
    font-family: "나눔바른고딕B";
    font-size: 48px;
    color: #fff;
    margin: 0 auto 0;
    padding: 100px 0 0 16px;
  }
  .series_title_zone_wrapper > p > i {
    font-size: 32px;
    margin-left: 20px;
  }
  .fas {
    color: #f35966;
  }
  .series_nav {
    width: 100%;
    height: 64px;
    min-width: 1100px;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
  }
  .series_nav_wrapper {
    width: 1100px;
    padding-left: 16px;
    margin: 0 auto 0;
  }
  .series_nav_component {
    width: 120px;
    font-family: "나눔바른고딕B";
    font-size: 16px;
    color: rgb(38, 38, 38, 0.35);
    line-height: 62px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
  }
}
