{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    ShareSpot
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="main_title_zone">
    <div class="main_title_zone_wrapper">
      <p>세상의 모든 뷰, ShareSpot</p>
      <h4>당신의 좌석뷰와 리뷰를 공유해주세요!<br class="hide_in_web">쉐어스팟이 모두의 좌석뷰와 리뷰를 모아드립니다. <br><span class="hide_in_phone">여러분의 실패없고 깊이있는 문화생활을 응원합니다.</span></h4>
      <!-- <div>
        <div><i class="fas fa-search"></i></div>
        <input type="text" name="" placeholder="장소/공연 검색">
      </div> -->
      <button class="go_write_review">리뷰쓰고 티끌 받으러 가기</button>
    </div>
  </div>
  <div class="reward_promotion">
    <div class="reward_promotion_wrapper">
      <p> 관람하신 공연/경기의 리뷰를 남겨주세요! </p>
      <div class="reward_explanation">
        <div class="reward_promo_set">
          <div class="reward_explan_img"></div>
          <div class="reward_explan_set">
            <p>홍익인간</p>
            <h4>당신의 리뷰가 널리 팬들을 이롭게 합니다.</h4>
          </div>
        </div>
        <div class="reward_promo_set">
          <div class="reward_explan_img"></div>
          <div class="reward_explan_set">
            <p>티끌모아 태산</p>
            <h4>당신의 작은 리뷰가 모이고 모이면 기프티콘이 됩니다.</h4>
          </div>
        </div>
        <div class="reward_promo_set">
          <div class="reward_explan_img"></div>
          <div class="reward_explan_set">
            <p>고생없이 낙이온다</p>
            <h4>간단히 리뷰만 써도 당신의 온라인 티켓이 기록됩니다.</h4>
          </div>
        </div>
      </div>
      <!-- <button> 리뷰/사진 등록 </button> -->
    </div>
  </div>

  <!-- <div class="main_banner_zone"></div> -->

  <div class="navbar_outer">
    <nav class="navbar navbar-expand">
      <span class="navbar-brand">좌석뷰 바로가기</span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% for division in divisions %}
            {% if division.space_set.exists %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ division.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for space in division.space_set.all %}
                  <a class="dropdown-item" href="{% url "sharespot:place_space" space.en_name %}">{{ space.name }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>

  <div class="main_content">
    <div class="main_content_wrapper">
      <div class="eventlist_section">
        <p> 전체 </p>
        <h3 class="hide_in_web"> 모두 보기 </h4>
        <div class="eventlist_section_list">
          {% include 'sharespot/series_set.html' with request=request %}
        </div>
        <h4 class="hide_in_phone"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
      </div>

      {% for division in divisions %}
        {% if division.series_set.exists %}
        <div class="eventlist_section">
          <p>{{ division.name }}</p>
          <h3 class="hide_in_web"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
          <div class="eventlist_section_list">
            {% include 'sharespot/series_set.html' with request=request series_all=division.series_set.all %}
          </div>
          <h4 class="hide_in_phone"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- <div class="numbers hide_in_phone">
      <div class="numbers_wrapper">
        <p> Numbers </p>
        <div class="numbers_explanation">
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
        </div>
      </div>
    </div> -->

</div>

{% endblock %}