{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    ShareSpot
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="content">
   <div class="main_title_zone">
    <div class="main_title_zone_wrapper">
      <p> 내게 알맞는 좌석, 공연을 찾아보세요! </p>
      <h4> 간단한 서비스 설명 멘트 </h4>
      <div>
        <div><i class="fas fa-search"></i></div>
        <input type="text" name="" placeholder="장소/공연 검색">
      </div>
    </div>
  </div>

  <div class="main_banner_zone">

  </div>
  <div class="navbar_outer">
    <nav class="navbar navbar-expand">
      <span class="navbar-brand"> 장소 바로가기 </span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% for division in divisions %}
            {% if division.space_set.exists %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ division.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for space in division.space_set.all %}
                  <a class="dropdown-item" href="{% url "sharespot:place_space" space.en_name %}">{{ space.name }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %}
          {% endfor %}


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              콘서트장
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              극장
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="main_content">
    <div class="main_content_wrapper">
      <div class="eventlist_section">
        <p> 전체 </p>
        <h3 class="hide_in_web"> 모두 보기  <i class="fas fa-chevron-right"></i> </h4>
        <div class="eventlist_section_list">
          {% include 'sharespot/series_set.html' with request=request %}
        </div>
        <h4 class="hide_in_phone"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
      </div>

      {% for division in divisions %}
        {% if division.series_set.exists %}
        <div class="eventlist_section">
          <p>{{ division.name }}</p>
          <h3 class="hide_in_web"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
          <div class="eventlist_section_list">
            {% include 'sharespot/series_set.html' with request=request series_all=division.series_set.all %}
          </div>
          <h4 class="hide_in_phone"> 모두 보기 <i class="fas fa-chevron-right"></i> </h4>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="reward_promotion">
      <div class="reward_promotion_wrapper">
        <p> 관람하신 이벤트의 리뷰를 남겨주세요! </p>
        <div class="reward_explanation">
          <div class="reward_promo_set">
            <div></div>
            <p> 리워드 설명 </p>
            <h4> 리뷰/사진 등록에 있는 촉진문구 </h4>
          </div>
          <div class="reward_promo_set">
            <div></div>
            <p> 리워드 설명 </p>
            <h4> 리뷰/사진 등록에 있는 촉진문구 </h4>
          </div>
          <!-- <div class="reward_promo_set">
            <div></div>
            <p> 리워드 설명 </p>
            <h4> 리뷰/사진 등록에 있는 촉진문구 </h4>
          </div> -->
        </div>
        <button> 리뷰/사진 등록 </button>
      </div>
    </div>

    <div class="numbers hide_in_phone">
      <div class="numbers_wrapper">
        <p> Numbers </p>
        <div class="numbers_explanation">
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
          <div class="number_set">
            <p> 243 </p>
            <h4> 등록된 좌석수 </h4>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}