{% extends "base.html" %}

{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/place_base.css' %}">

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=SeKYIswoSWFlblzvLR07"></script>

  {% block head_extra_place %}
  {% endblock %}

{% endblock %}

{% block content %}
<div class="content">
  <div class="place_title_zone" style="background-image: url({{ place.bg.url }});">
    <div class="place_title_zone_wrapper">
      <p>{{ space.name }} <i class="{% if user in space.liker_set.all %}fas{% else %}far{% endif %} fa-star" data-url="{% url 'sharespot:space_like' space.en_name %}"></i> </p>
    </div>
  </div>

  <div class="place_nav">
    <div class="place_nav_wrapper">
      <a href="{% url "sharespot:place_space" space.en_name %}"><div class="place_nav_component" id="place_space_view">좌석뷰</div></a>
      <a href="{% url "sharespot:place_basic" space.en_name %}"><div class="place_nav_component" id="place_basic_info">기본정보</div></a>
      <a href="{% url "sharespot:place_share" space.en_name %}"><div class="place_nav_component" id="place_share_info">주변정보</div></a>
      <!-- <a href="{% url "sharespot:series_list" %}?place={{ place.en_name }}"><div class="place_nav_component" id="place_event_info">경기/공연</div></a> -->
    </div>
  </div>

  {% block content_place %}
  {% endblock %}

</div>

<script>
$('.fa-star').click(function() {
  var self = $(this);
  var url = $(this).data('url');
  $.post(url)
    .done(function(r) {
      if( r == 'complete') {
        if( self.hasClass('far') ){
          alert('"{{ space.name }}"이(가) 즐겨찾기에 추가되었습니다.')
          self.removeClass('far');
          self.addClass('fas');
        } else {
          alert('"{{ space.name }}"이(가) 즐겨찾기에서 제외되었습니다.')
          self.removeClass('fas');
          self.addClass('far');
        }
      }
    });
})
</script>
{% endblock %}