{% load humanize %}
{% load staticfiles %}

<div class="block_rating_section">
  <div class="howmany_views_reviews">
    <p class="place_name">{{ block.name }} 블럭</p>
    <p class="count_views_reviews"> 좌석뷰 {{ block.get_block_view.count|intcomma }} 장 ・ 리뷰 {{ block.get_block_review.count|intcomma }} 개 </p>
  </div>
  <div class="place_total_rating">
    <div class="place_total_rating_header">
      <p> 전체 평점 <span>( {{ block.get_block_review.count|intcomma }} )</span> </p>
      <button class="go_rate"> 평가 등록 </button>
    </div>
    <div class="event_review_rating">
      <h4 class="which_rating"> 시야 </h4>
      <div class="total_rating_zone">
        <p>{{ block.get_block_view_star|floatformat }}</p>
        <div class="block-rating" data-rating={{ block.get_block_view_star }}></div>
      </div>
      <div class="star_graph">
        <!-- {% for num in block.get_view_star_num %}
          {{ num }}
        {% endfor %} -->
        별점 분포 준비중입니다.
      </div>
    </div>
    <div class="event_review_rating">
      <h4 class="which_rating"> 현장열기 </h4>
      <div class="total_rating_zone">
        <p>{{ block.get_block_real_star|floatformat }}</p>
        <div class="block-rating" data-rating={{ block.get_block_real_star }}></div>
      </div>
      <div class="star_graph">
        <!-- {% for num in block.get_real_star_num %}
          {{ num }}
        {% endfor %} -->
        별점 분포 준비중입니다.
      </div>
    </div>
  </div>
</div>

<div class="block_review_section">
  <div class="place_review_section_header">
    <p> 전체 리뷰 <span>( {{ block.get_block_review.count|intcomma }} )</span> </p>
    <div class="go_rate"> 리뷰 등록 </div>
  </div>


  <div class="place_review_section_body">
    {% for review in reviews %}
    <div class="place_reviews">
      <div class="reviews_header">
        <div class="reviews_user_info">
          {% if review.anony_name %}
          <div class="reviews_user_pic" style="background-image: url({% static "img/anony.png" %}) "></div>
          {% else %}
            {% if review.ticket.user.profile.img %}
            <div class="reviews_user_pic" style="background-image: url({{ review.ticket.user.profile.img.url }}) "></div>
            {% else %}
            <div class="reviews_user_pic" style="background-image: url({% static "img/anony.png" %}) "></div>
            {% endif %}
          {% endif %}
          <div class="reviews_user_profile">
            {% if review.anony_name %}
              <p>{{ review.anony_name }}</p>
            {% else %}
              <p>{{ review.ticket.user.profile.nick_name }}</p>
            {% endif %}
            <h4>{{ review.created_at|date:"Y년 m월 d일" }}</h4>
          </div>
        </div>
        <div class="reviews_user_badge">
          {% for badge in review.badge_set.all %}
            <div style="background-color: {{ badge.color }};">{{ badge.name }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="seat_info_in_review">
        {{ review.seat.block.name }} 블럭 {{ review.seat.row_real }}-{{ review.seat.name }} 번
      </div>
      <div class="reviews_rating_zone">
        <div class="which_rating_in_review">
          <p> 시야 </p>
          <div class="review-rating" data-rating={{ review.view_star }}></div>
        </div>
        <div class="which_rating_in_review">
          <p> 현장열기 </p>
          <div class="review-rating" data-rating={{ review.real_star }}></div>
        </div>
      </div>

      <div class="reviews_body">
        <img src="{{ review.seatimg_set.first.img.url }}" alt="">
        {% if review.content %}
        <p>{{ review.content }}</p>
        <!-- <h4> 더보기 </h4> -->
        {% endif %}
      </div>
      <div class="reviews_footer">
        {% if user in review.thanked_set.all %}
        <img id="fin"  src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon_fin.png' alt="" >
        {% else %}
        <img id="fin_yet" src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon.png' alt="" data-review={{ review.pk }} data-url={% url 'sharespot:review_thanks' %}>
        <div class="thank_info">
          <h4>이 리뷰가 도움이 되었다면 땡큐!</h4>
          <p>정성스러운 리뷰에 땡큐를 눌러주세요. 땡큐를 누르시면 리뷰 작성자에게 0.5 티끌이 적립됩니다.</p>
        </div>
        <img id="fin" style="display: none;" src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon_fin.png' alt="" >
        {% endif %}
        <p>{{ review.count_thanked }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    $(".block-rating").starRating({
      strokeColor: '#bb213c',
      strokeWidth: 32,
      starSize: 24,
      hoverColor: '#bb213c',
      activeColor: '#bb213c',
      emptyColor: '#ffffff',
      useGradient: false,
      readOnly: true
  });
    $(".review-rating").starRating({
      strokeColor: '#ffca3a',
      strokeWidth: 32,
      starSize: 24,
      hoverColor: '#ffca3a',
      activeColor: '#ffca3a',
      emptyColor: '#ffffff',
      useGradient: false,
      readOnly: true
  });

    $('.reviews_footer > img').mouseover(function() {
      $(this).parent().find('.thank_info').attr('style', 'display: inline-block;');
    })
    $('.reviews_footer > img').mouseout(function() {
      $(this).parent().find('.thank_info').attr('style', '');
    })

    $('.reviews_footer > img').click(function() {
    if ($(this).attr('src')=='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon.png') {
      var self = $(this);
      var url = self.data('url');
      var review = self.data('review');
      var seat = 'True';
      var data = {
        'review': review,
        'seat': seat,
      }
      $.post(url, data)
        .done(function(r) {
          self.attr('style', 'display: none;');
          self.parent().find('#fin').attr('style', '');
          self.parent().find('p').text(r);
        })
    } else {
      alert("이미 땡큐한 리뷰입니다 :)");
    }
  });
  </script>
</div>