{% extends "sharespot/place_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ place.name }} 정보공유
{% endblock %}

{% block head_extra_place %}
<link rel="stylesheet" type="text/css" href="{% static 'css/place_share.css' %}">
{% endblock %}

{% block content_place %}
  <div class="place_around_content">
    <div class="place_around_content_wrapper">
      <div class="posting_zone">
        <div class="posting_zone_nav">
          <div class="posting_zone_nav_compenent selected"> 전체 </div>
          {% for category in share_category %}
            <div class="posting_zone_nav_compenent"> {{ category.name }} </div>
          {% endfor %}
        </div>
        <div class="posting_input_section">
          <div class="input_box">
            <div class="input_left">
              <div class="posting_place_info">
                <div class="place_category"> 분류 선택 </div>
                <div class="place_name"> 방문 장소,주소 </div>
                <div class="place_pic"> 사진 </div>
              </div>
              <textarea placeholder="자유롭게 입력해주세요."></textarea>
            </div>
            <button> 등록 </button>
          </div>
          <form action="" method="GET">
            <input name="q" placeholder="검색할 단어를 입려하세요">
            <input type="submit" value="검색">
          </form>
          <div>
          {% for item in items %}
              <ul>
                  <div>{{ forloop.counter }}
                  {{ item.title|safe }} {{ item.address }}</div>
              </ul>
          {% endfor %}
          </div>
        </div>

        {% for info in share_info %}
        <div class="posts">
          <div class="posts_wrapper">
            <div class="posts_header">
              <div> {{ info.category }} </div>
              <p> {{ info.name }} <span> {{ info.created_at|date:"Y.m.d" }} </span> </p>
            </div>
            <div class="posts_body">
              <p>{{ info.content }}</p>
            </div>
            <div class="posts_img">
              {% for img in info.image_set.all %}
                <img src="{{ img.img.url }}">
              {% endfor %}
            </div>
            <div class="posts_footer">
              <p><i class="far fa-comment"></i> <span> {{ info.shareinfocomment_set.count }} </span></p>
              <p><i class="far fa-heart"></i> <span> {{ info.count_liked }} </span></p>
            </div>
            <div class="posts_reply">
              <div class="writing_zone">
                <div class="writing_zone_upper">
                  <img src="{{ user.profile.img.url }}">
                  <p> {{ user.profile.nick_name }} </p>
                  <h4> 익명으로 변경 </h4>
                </div>
                <div class="writing_zone_bottom">
                  <textarea placeholder="댓글을 입력하세요."></textarea>
                  <button> 등록 </button>
                </div>
              </div>

              {% for comment in info.shareinfocomment_set.all %}
              <div class="replies">
                <div class="replies_upper">
                  <img src="{{ comment.user.profile.img.url }}">
                  <p>{{ comment.user.profile.nick_name }}</p>
                  <h4>{{ comment.created_at|date:"Y.m.d" }}</h4>
                </div>
                <p class="replies_body">{{ comment.content }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="map"></div>
    </div>
  </div>


<script>
$(function(){
  var map_position = $('.map').offset().top;
  $(window).scroll(function(){
    if( $(window).scrollTop() >= map_position ) {
         $("#navi").css("position","fixed");
         $("#navi").css("top","0");
    } else {
         $("#navi").css("position","relative");
         $("#navi").css("top","");
    }
  })
})
</script>
{% endblock %}