{% extends "sharespot/series_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ series.name }} Talk
{% endblock %}

{% block head_extra_series %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_talk.css' %}">
{% endblock %}

{% block content_series %}
  <div class="event_talk_content">
    <div class="event_talk_content_wrapper">
      {% include 'sharespot/series_topic_list.html' with request=request %}

      <div class="event_talk_right">
        <div class="mobile_wagle_header hide_in_web">
          <i class="fas fa-arrow-left"></i>
          <p> {{ series.name }} </p>
        </div>
        <div class="topic_title">
          <p>{{ topic.content }}</p>
          <h4>{{ topic.explain }}</h4>
        </div>
        <div class="talks_zone">
          {% for talk in talks %}
          <div class="talks">
            <div class="talks_profile">
              <p>
                {% if talk.anony_name %}
                  <img src="{% static "img/anony.png" %}" alt="">
                  {{ talk.anony_name }} &nbsp;
                {% else %}
                  <img src="{{ talk.user.profile.img.url }}" alt="">
                  {{ talk.user.profile.nick_name }} &nbsp;
                {% endif %}
                <span>{{ talk.created_at|date:"Y.m.d f A"}}</span>
                <span>&middot; 신고</span>
              </p>
              <div>
                <a href="#"> 수정 </a>
                <a href="#"> 삭제 </a>
              </div>
            </div>
            <div class="talks_body">
              <p>{{ talk.content }}</p>
            </div>
          </div>
          {% endfor %}

          <div class="talks">
            <div class="talks_profile">
              <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
            </div>
            <div class="talks_body">
              <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
            </div>
          </div>
          <div class="talks">
            <div class="talks_profile">
              <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
            </div>
            <div class="talks_body">
              <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. </p>
            </div>
          </div>
          <div class="talks">
            <div class="talks_profile">
              <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
            </div>
            <div class="talks_body">
              <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
            </div>
          </div>
          <div class="talks">
            <div class="talks_profile">
              <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
            </div>
            <div class="talks_body">
              <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
            </div>
          </div>
          <div class="talks">
            <div class="talks_profile">
              <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
            </div>
            <div class="talks_body">
              <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
            </div>
          </div>
        </div>
        <p class="go_first"><i class="fas fa-caret-up"></i> 첫글보기</p>
        <div class="write_ur_talk">
          <div class="writer_profile">
            <p><img src="{{ user.profile.img.url }}" alt=""> {{ user.profile.nick_name }} <span> 익명으로 변경 </span> </p>
            <!-- 익명으로 변경 선택시 -->
            <!-- <p><img src="{% static "img/anony.png" %}" alt=""> 랜덤익명생성 <spa임> 닉네임으로 변경 </span> </p> -->

            <h4>(!) 신고 5회 누적 시 익명으로 변경이 불가능하오니 유의하시기 바랍니다.</h4>
          </div>
          <div class="write_zone">
            <textarea placeholder="당신의 생각을 말해주세요."></textarea>
            <button disabled style="cursor: default"> 등록 </button>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function(){
  $('.talks_zone').animate({scrollTop: $('div.talks').last().offset().top}, 'fast');
});

// 첫글보기
$('.go_first').click(function() {
  $('.talks_zone').animate({scrollTop: 0}, 'fast');
});

// 등록버튼 활성화 비활성화
var length;
$('.write_zone > textarea').keyup(function() {
  length = $(this).val();
  console.log(length)
  if( length != '' ) {
    $('.write_zone > button')
      .css({'background-color': '#bb213c', 'cursor': 'pointer'})
      .prop('disabled', '')
  } else {
    $('.write_zone > button')
      .css({'background-color': '#e6e6e6', 'cursor': 'default'})
      .prop('disabled', 'disabled')
  }
});
</script>

{% endblock %}