{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/series_set.css' %}">

{% for series in series_all %}
  <div class="series_set">
    <div class="series_pic" style="background-image: url({{ series.image_set.first.img.url }});">
      <div>{{ series.division.name }}</div>
    </div>
    <div class="series_set_wrapper">
      <p class="series_title">{{ series.name }}</p>
      <p class="series_info">{{ series.start|date:"Y.m.d."}} ~ {{ series.end|date:"Y.m.d."}} <br> {{ series.space.name }} </p>
      <div class="series_rating_reviews">
        <div></div>
        <h4>{{ series.get_series_star }} ( {{ series.get_series_review_count }} )</h4>
      </div>
      <div class="series_get_info">
        <div class="series_event_info"> 공연 정보 </div>
        <div class="series_seat_info"> 좌석 정보 </div>
      </div>
    </div>
  </div>
{% endfor %}