{% extends "sharespot/series_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ series.name }} Talk
{% endblock %}

{% block head_extra_series %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_talk.css' %}">
{% endblock %}

{% block content_series %}
<div class="content">
  <div class="event_title_zone">
    <div class="event_title_zone_wrapper">
      <p>[프로야구]기아 vs 두산<i class="far fa-heart"></i></p>
    </div>
  </div>

  <div class="event_nav">
    <div class="event_nav_wrapper">
      <div class="event_nav_component">기본정보</div>
      <div class="event_nav_component">평점/리뷰</div>
      <div class="event_nav_component" style="border-bottom: solid 1px black;">딥톡</div>
      <div class="event_nav_component">좌석정보</div>
      <div class="event_nav_component">예매</div>
    </div>
  </div>

  <div class="event_talk_content">
    <div class="event_talk_left">
      <div class="topic_searchbar">
        <input placeholder="&#xF002;      이야기거리 찾기" style="font-family:Arial, FontAwesome">
      </div>
      <div class="add_topic">
        <p> <i class="fas fa-plus"></i> 이야기거리 추가하기 </p>
      </div>
      <div class="topic_zone">
        <div class="topic">
          <p> 어떤 인물이 가장 기억에 남으세요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
        <div class="topic">
          <p> 어떤 인물이 가장 기억에 남으세요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 </h4>
        </div>
        <div class="topic">
          <p> 어떤 인물이 가장 기억에 남으세요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 </h4>
        </div>
        <div class="topic">
          <p> 어떤 인물이 가장 기억에 남으세요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
        <div class="topic">
          <p> 마지막 장면에 대해서 어떻게 분석, 해석 하셨어요? (104) </p>
          <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
        </div>
      </div>
    </div>

    <div class="event_talk_right">
      <div class="topic_title">
        <p> 어떤 인물이 가장 기억에 남으세요? </p>
        <h4> 간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다.간단한 설명을 쓰는 부분 저는 이렇게 해석했는데 다른 분들의 생각은 어떤지 궁금합니다. </h4>
      </div>
      <div class="talks_zone">
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. </p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다. </p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. </p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
          </div>
        </div>
        <div class="talks">
          <div class="talks_profile">
            <p><img src="" alt=""> 닉네임닉네임 <span>18.7.11 4:03 PM </span><span>&middot; 신고</span> </p>
          </div>
          <div class="talks_body">
            <p> 레알 마드리드가 크리스티아누 호날두 공백을 메우기 위해 시동을 걸고 있다. 첼시 에덴 아자르(27) 영입에 1억 5,000만 파운드(약 2,220억 원)를 준비 중이라는 소식이다. 레알 마드리드에서 9년여를 활약한 호날두는 11일(이하 한국 시간) 유벤투스로 둥지를 옮겼다. 레알 마드리드는 구단 홈페이지를 통해 "호날두의 유벤투스 이적에 합의했다"면서 "호날두의 의지에 따라 유벤투스 이적에 동의했다. 우리는 전 세계 최고가 되고 우리 구단을 역사상 최고로 빛나게 한 호날두에게 감사를 표한다"고 이적을 알렸다.</p>
          </div>
        </div>
      </div>
      <p class="go_first"><i class="fas fa-caret-up"></i> 첫글보기</p>
      <div class="write_ur_talk">
        <div class="writer_profile">
          <p><img src="" alt=""> 닉네임닉네임 <span> 익명으로 변경 </span> </p>
          <h4>(!) 신고 5회 누적 시 익명으로 변경이 불가능하오니 유의하시기 바랍니다.</h4>
        </div>
        <div class="write_zone">
          <textarea placeholder="댓글을 입력하세요."></textarea>
          <button> 등록 </button>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
$(document).ready(function(){
  $('.talks_zone').animate({scrollTop: $('div.talks').last().offset().top}, 'fast');
});
</script>

{% endblock %}