{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    이벤트 전체목록
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_list.css' %}">
{% endblock %}

{% block content %}
<div class="content">
   <div class="series_list_title_zone">
    <div class="series_list_title_zone_wrapper">
      <p>공연/경기 목록</p>
    </div>
  </div>


  <div class="series_list_nav">
    <div class="series_list_nav_wrapper">
      <a href="{% url "sharespot:series_list" %}"><div class="series_list_nav_component active">전체</div></a>
      {% for division in divisions %}
        <a href="{% url "sharespot:series_list" %}?division={{ division.en_name }}"><div class="series_list_nav_component">{{ division.name }}</div></a>
      {% endfor %}
    </div>
  </div>

  <!-- <div class="navbar_outer">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              2018년 6월
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">2018년 6월</a>
              <a class="dropdown-item" href="#">2018년 7월</a>
              <a class="dropdown-item" href="#">2018년 8월</a>
            </div>
          </li>
           <li class="nav-item dropdown region_item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              전국
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">전국</a>
              <a class="dropdown-item" href="#">서울</a>
              <a class="dropdown-item" href="#">부산</a>
            </div>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              예술의전당
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">예술의전당</a>
              <a class="dropdown-item" href="#">세종문화회관</a>
              <a class="dropdown-item" href="#">블루스퀘어</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div> -->

  <div class="series_list_filter">
    <div class="series_list_filter_wrapper">
      <div class="series_list_filter_when">
        <select>
          <option value=""> 전체 </option>
          <option value="201808"> 2018년 8월 </option>
          <option value="201809"> 2018년 9월 </option>
        </select>
      </div>
      <div class="series_list_filter_city">
        <select>
          <option value=""> 전국 </option>
          <option value="Seoul"> 서울 </option>
          <option value="Gyeonggi"> 경기 </option>
          <option value="Incheon"> 인천 </option>
          <option value="Busan"> 부산 </option>
          <option value="Daejeon"> 대전 </option>
          <option value="Daegu"> 대구 </option>
          <option value="Gwangju"> 광주 </option>
          <option value="Ulsan"> 울산 </option>
          <option value="Gangwon"> 강원 </option>
          <option value="ChungcheongN"> 충북 </option>
          <option value="ChungcheongS"> 충남 </option>
          <option value="GyeongsangN"> 경북 </option>
          <option value="GyeongsangS"> 경남 </option>
          <option value="JeonlaN"> 전북 </option>
          <option value="JeonlaS"> 전북 </option>
          <option value="Jeju"> 제주 </option>
        </select>
      </div>
      <div class="series_list_filter_place">
        <select>
          <option value="">전체</option>
        </select>
      </div>
    </div>
  </div>


  <div class="series_list_content">
    <div class="series_list_content_wrapper">
      <p> <span class="selected">최신순</span><span>인기순</span> </p>
      {% include 'sharespot/series_set.html' with request=request series_all=series_all %}
    </div>
  </div>

</div>


<script>

</script>


{% endblock %}