{% extends "sharespot/series_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ series.name }} Talk
{% endblock %}

{% block head_extra_series %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_talk.css' %}">
<script src="{% static 'js/autolink-min.js' %}"></script>
{% endblock %}

{% block content_series %}
  <div class="event_talk_content">
    <div class="event_talk_content_wrapper">
      {% include 'sharespot/series_topic_list.html' with request=request %}

      <div class="event_talk_right">
        <div class="mobile_wagle_header hide_in_web">
          <a href="{% url 'sharespot:series_talk_list' series.en_name %}"><i class="fas fa-arrow-left"></i></a>
          <p>  {{ series.name }} </p>
        </div>
        <div class="topic_title">
          <i class="fas fa-angle-down hide_in_web"></i>
          <div class="topic_title_text">
            <p>{{ topic.content }}</p>
            <h4>{{ topic.explain }}</h4>
          </div>
        </div>
        <div class="talks_zone">
          {% for talk in talks %}
            {% include 'sharespot/talk.html' with request=request series=series topic=topic talk=talk %}
          {% endfor %}

        </div>
        <p class="go_first hide_in_phone"><i class="fas fa-caret-up"></i> 첫글보기</p>
        <div class="mobile_wagle_footer hide_in_web">
          <div id="mobile_go_first"> 첫글 보기 </div>
          <div id="go_write"> 글쓰기 </div>
        </div>
        <div class="write_ur_talk">
          <div class="writer_profile">
            <p>
              <img src="{{ user.profile.img.url }}" alt="" class="hide_in_phone">
              <span class="writer_nickname"> {{ user.profile.nick_name }} </span>
              <span class="use_anony"> 익명으로 변경 </span>
              <span class="use_nickname" style="display: none"> 닉네임으로 변경 </span>
            </p>
            <!-- 익명으로 변경 선택시 -->
            <!-- <p><img src="{% static "img/anony.png" %}" alt=""> 랜덤익명생성 <spa임> 닉네임으로 변경 </span> </p> -->

            <h4 class="hide_in_phone">(!) 신고 5회 누적 시 익명으로 변경이 불가능하오니 유의하시기 바랍니다.</h4>
          </div>
          <form class="talk_form" action="{% url "sharespot:series_talk_create" series.en_name topic.pk %}" method="POST">
            <div class="write_zone">
              <div class="write_zone_wrapper">
                <textarea name="content" placeholder="당신의 생각을 말해주세요."></textarea>
                <button type="submit" disabled style="cursor: default"> 등록 </button>
              </div>
            </div>
            <input type="hidden" name="anony_name" id="anony_name">
          </form>
        </div>
      </div>

<script>
$(document).ready(function(){
  var winwidth = document.body.clientWidth;
  if ( winwidth >= 768) {
    $('.talks_zone').animate({scrollTop: $('.talks_zone > div.talks').last().offset().top}, 'fast');
  } else {
    $('html, body').animate({scrollTop: $(document).height()});
  }
});


var el, up, ps, totalHeight;
$('.topic_title > i').click(function() {
  totalHeight = 0;
  el = $(this);
  up = el.parent().children('.topic_title_text');
  ps = up.find('p');
  h4 = up.find('h4');

  if ( el.hasClass('rotated') ) {
    h4.hide();
    up.css({'height': 40, 'max-height' : 40});
    el.removeClass('rotated');

  } else {
    ps.each(function() {
      totalHeight += $(this).outerHeight() + h4.outerHeight() + 8;
    });

    up
      .css({
        'height' : up.height(),
        'max-height' : 9999
      })
      .animate({
        "height": totalHeight
      });
    h4.show();
    el.addClass('rotated');

    return false;
  }
});

// 첫글보기
$('.go_first').click(function() {
  $('.talks_zone').animate({scrollTop: 0}, 'fast');
});
$('#mobile_go_first').click(function() {
  $('html, body').animate({scrollTop: 0}, 'fast');
});

// 등록버튼 활성화 비활성화
var length;
$('.write_zone_wrapper > textarea').keyup(function() {
  length = $(this).val();
  if( length != '' ) {
    $('.write_zone_wrapper > button')
      .css({'background-color': '#bb213c', 'cursor': 'pointer'})
      .prop('disabled', '')
  } else {
    $('.write_zone_wrapper > button')
      .css({'background-color': '#e6e6e6', 'cursor': 'default'})
      .prop('disabled', 'disabled')
  }
});

// 모바일 글쓰기 버튼
$('#go_write').click(function() {
  $(this).parent().hide();
  $('.talks_zone').css({'padding-bottom': 120});
  $('.write_ur_talk').show();
});


// 익명
var anony1 = ['빨강','파랑','노랑','초록','보라','검정','하양'];
var anony2 = ['고양이','강아지','돌고래','코끼리'];
var nickname = "{{ user.profile.nick_name }}"
$('.use_anony').click(function() {
  var anony_name = "";
  anony1_random = Math.floor(Math.random() * anony1.length);
  anony2_random = Math.floor(Math.random() * anony2.length);
  anony_name = anony1[anony1_random] + " " + anony2[anony2_random];
  $('.writer_nickname').html(anony_name);
  $('#anony_name').val(anony_name);
  $(this).hide();
  $('.use_nickname').show();
  $('.writer_profile > p > img').prop('src', "{% static 'img/anony.png' %}");
});
$('.use_nickname').click(function() {
  var anony_name = "";
  $('.writer_nickname').html(nickname);
  $('#anony_name').val(anony_name);
  $(this).hide();
  $('.use_anony').show();
    $('.writer_profile > p > img').prop('src', "{{ user.profile.img.url }}");
})

// 글쓰기 ajax
$('.write_ur_talk form').submit(function(e) {
  var url = $(this).attr('action');
  var data = $(this).serialize();

  $.post(url, data)
    .done(function(r) {
      $('.write_zone_wrapper textarea').val('');

      var event = $.Event('talk_created');
      event.html = r.html;
      $(document).trigger(event);

    });

    e.preventDefault();
});

$(document).on('talk_created', function(e) {
  $('.talks_zone').append(e.html);

  if ( document.body.clientWidth >= 768) {
    $('.talks_zone').scrollTop($('.talks_zone')[0].scrollHeight);
  }
});
</script>

{% endblock %}