{% extends "base.html" %}

{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_base.css' %}">

  {% block head_extra_series %}
  {% endblock %}

{% endblock %}

{% block content %}
<div class="content">
  <div class="event_title_zone" style="background-image: url({{ series. }})">
    <div class="event_title_zone_wrapper">
      <p>[{{ series.division.name }}] {{ series.name }}<i class="far fa-heart"></i></p>
    </div>
  </div>

  <div class="event_nav">
    <div class="event_nav_wrapper">
      <a href="{% url "sharespot:series_basic" series.en_name %}"><div class="event_nav_component">기본정보</div></a>
      <a href="{% url "sharespot:series_review" series.en_name %}"><div class="event_nav_component">평점/리뷰</div></a>
      <a href="{% url "sharespot:series_talk_list" series.en_name %}"><div class="event_nav_component">딥톡</div></a>
      <a href="{% url "sharespot:place_space" series.space.en_name %}"><div class="event_nav_component">좌석정보</div></a>
      <div class="event_nav_component">예매</div>
    </div>
  </div>

  {% block content_series %}
  {% endblock %}

</div>
{% endblock %}