{% extends "sharespot/series_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ series.name }} 리뷰
{% endblock %}

{% block head_extra_series %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_review.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}">

<script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
{% endblock %}

{% block content_series %}
  <div class="event_review_content">
    <div class="event_review_top">
      <div class="event_review_rating">
        <p> 평점 </p>
        <span>( {{ series.get_series_review.count }} )</span>
        <div class="go_rate" onclick="window.location.href='/sharespot/register/review/'"> 평가 등록 </div>
        <div class="total_rating_zone">
          <p>{{ series.get_series_star|floatformat }}</p>
          <div class="series-rating" data-rating={{ series.get_series_star }}></div>
        </div>
        <div class="star_graph">
          <div class="progress_index">
            <div><i class="fas fa-star"></i> &nbsp; 5</div>
            <div><i class="fas fa-star"></i> &nbsp; 4</div>
            <div><i class="fas fa-star"></i> &nbsp; 3</div>
            <div><i class="fas fa-star"></i> &nbsp; 2</div>
            <div><i class="fas fa-star"></i> &nbsp; 1</div>
          </div>
          <div class="progress_graph">
            {% for num in series.get_star_num %}
            <div class="progress">
              <div class="progress-bar" id="bar-{{ forloop.counter }}" role="progressbar" aria-valuenow="{{ num }}"
              aria-valuemin="0" aria-valuemax="{{ reviews.count }}">
                <span class="sr-only"></span>
              </div>
              <script>
                var valuenow = Number( {{ num }} );
                var valuemax = Number( {{ reviews.count }} );
                var width = valuenow/valuemax;
                $('#bar-{{ forloop.counter }}').css('width', width*100+'%');
              </script>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="event_emotion">
        <p>감정 태그</p>
        {% for emotion in series.get_emotion_set %}
          <div>
            {% for content in emotion %}
              &nbsp;{{ content }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="event_review_bot">
    <div class="event_review_bot_wrapper">
      <div class="event_review_bot_header">
        <p> 공연리뷰 </p>
        <span>( {{ series.get_series_review.count }} )</span>
        <div class="go_rate" onclick="window.location.href='/sharespot/register/review/'"> 리뷰 등록 </div>
      </div>

      <div class="event_reviews_wrapper">
        {% for review in reviews %}
        <div class="event_reviews">
          <div class="reviews_header">
            <div class="reviews_user_info">
              {% if review.anony_name %}
                <div class="reviews_user_pic" style="background-image: url({% static "img/anony.png" %})"></div>
              {% else %}
                {% if review.ticket.user.profile.img %}
                  <div class="reviews_user_pic" style="background-image: url({{ review.ticket.user.profile.img.url }}) "></div>
                  {% else %}
                  <div class="reviews_user_pic" style="background-image: url({% static "img/anony.png" %}) "></div>
                  {% endif %}
              {% endif %}
              <div class="reviews_user_profile">
                {% if review.anony_name %}
                  <p>{{ review.anony_name }}</p>
                {% else %}
                  <p>{{ review.ticket.user.profile.nick_name }}</p>
                {% endif %}
                <h4>{{ review.created_at|date:"Y년 m월 d일" }}</h4>
              </div>
            </div>
            <div class="reviews_user_badge">
              {% for badge in review.badge_set.all %}
                <div style="background-color: {{ badge.color }};">{{ badge.name }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="reviews_rating_zone">
            <div class="review-rating" data-rating={{ review.total_star }}></div>
          </div>

          <div class="reviews_body">
            <img src="{{ review.ticket.image_set.first.img.url }}" alt="">
            {% if review.content %}
            <div class="reviews_body_text">
              <p>{{ review.content }}</p>
            </div>
            {% endif %}
            <h4> 더보기 </h4>
          </div>

          <div class="reviews_footer">
            {% if user in review.thanked_set.all %}
            <img id="fin"  src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon_fin.png' alt="" >
            {% else %}
            <img id="fin_yet" src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon.png' alt="" data-review={{ review.pk }} data-url={% url 'sharespot:review_thanks' %}>
            <div class="thank_info">
              <h4>이 리뷰가 도움이 되었다면 땡큐!</h4>
              <p>정성스러운 리뷰에 땡큐를 눌러주세요. 땡큐를 누르시면 리뷰 작성자에게 0.5 티끌이 적립됩니다.</p>
            </div>
            <img id="fin" style="display: none;" src='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon_fin.png' alt="" >
            {% endif %}
            <p>{{ review.count_thanked }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


<script>
$(document).ready(function() {
  $('.reviews_body_text').each(function() {
    if( $(document).width() < 768 ) {
      if( $(this).children('p').height() <= 85 ) {
        $(this).siblings('h4').hide();
      }
    } else {
      if( $(this).children('p').height() <= 140 ) {
        $(this).siblings('h4').hide();
      }
    }
  });
});

$(".series-rating").starRating({
      strokeColor: '#F75C02',
      strokeWidth: 32,
      starSize: 26,
      hoverColor: '#F75C02',
      activeColor: '#F75C02',
      emptyColor: '#ffffff',
      useGradient: false,
      readOnly: true
  });
$(".review-rating").starRating({
      strokeColor: '#ffca3a',
      strokeWidth: 32,
      starSize: 24,
      hoverColor: '#ffca3a',
      activeColor: '#ffca3a',
      emptyColor: '#ffffff',
      useGradient: false,
      readOnly: true
  });

var el, up, ps, totalHeight;
$('.reviews_body h4').click(function() {

  totalHeight = 0;
  el = $(this);
  up = el.parent().children('.reviews_body_text');
  ps = up.find('p');

  ps.each(function() {
    totalHeight += $(this).outerHeight();
  });

  up
    .css({
      'height' : up.height(),
      'max-height' : 9999
    })
    .animate({
      "height": totalHeight
    });

  el.fadeOut();

  return false;
});

$('.reviews_footer > img').mouseover(function() {
    $(this).parent().find('.thank_info').attr('style', 'display: inline-block;');
  })
  $('.reviews_footer > img').mouseout(function() {
    $(this).parent().find('.thank_info').attr('style', '');
  })

  $('.reviews_footer > img').click(function() {
    if ($(this).attr('src')=='https://s3.ap-northeast-2.amazonaws.com/enterest-s3/static/img/icon/thank_icon.png') {
      var self = $(this);
      var url = self.data('url');
      var review = self.data('review');
      var event = 'True';
      var data = {
        'review': review,
        'event': event,
      }
      $.post(url, data)
        .done(function(r) {
          self.attr('style', 'display: none;');
          self.parent().find('#fin').attr('style', '');
          self.parent().find('p').text(r);
        })
    } else {
      alert("이미 땡큐한 리뷰입니다 :)");
    }
  });

</script>
{% endblock %}