{% extends "sharespot/series_base.html" %}

{% load staticfiles %}

{% block title %}
    {{ series.name }} 기본정보
{% endblock %}

{% block head_extra_series %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_basic.css' %}">
{% endblock %}

{% block content_series %}
  <div class="event_content">
    <div class="event_content_wrapper">
      <div class="event_introduction">
        <div class="event_intro_text">
          <p>“ {{ series.intro_title }} ”</p>
          <h4>
            {% for words in series.split_intro_content %}
              {{ words }} <br>
            {% endfor %}
          </h4>
        </div>
        <div class="event_intro_img" style="background-image: url({{ series.image_set.first.img.url }})"></div>
      </div>

      <div class="event_time_place">
        <div class="event_time">
          <p> 날짜 및 시간 </p>
          <div>
            {% for event in series.event_set.all %}
              {{ event.start }}
            {% endfor %}
          </div>
        </div>
        <div class="event_place">
          <p> 장소 </p>

          <a href="{% url "sharespot:place_space" series.space.en_name %}">
            <h4>{{ series.space.name }}</h4>
            <h5>{{ series.space.place.address }}</h5>
            <div class="e_place_rating_review">
              <div class="e_place_rating">
                <div class="e_place_view_rating">
                  <label>시야</label>
                  <div>{{ series.space.get_space_view_star }}</div>
                </div>
                <div class="e_place_excitement_rating">
                  <label>현장열기</label>
                  <div>{{ series.space.get_space_real_star }}</div>
                </div>
              </div>
              <div class="e_place_review">
                좌석뷰 {{ series.space.get_space_view_count }} 장  ・ 리뷰 {{ series.space.get_space_review.count }}개
              </div>
            </div>
          </a>

          <div class="e_place_map">{{ series.space.place.lat_lon }}</div>
        </div>
      </div>

      <div class="event_etc_info">
        <div class="event_etc_left">
          <div class="event_casting">
            <p> 출연자 </p>
            <a href="{{ series.appear_link }}"><div class="casting_schedule"> 캐스팅 스케쥴 </div></a>
            <div class="actor_introduction">
              {% for appear in series.get_series_appear %}
              <div class="actor_info">
                <div class="actor_pic" style="background-image: url({{ appear.img.url }})"></div>
                <p>{{ appear.name }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="event_etc">
            <p> 안내 </p>
            <ol>
              {% for words in series.split_announce %}
              <li>{{ words }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="event_etc_right">
          <p> 가격 </p>
          <div>
            {% for level in series.seatlevel_set.all %}
              {{ level.name }} {{ level.price }} <br>
            {% endfor %}
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="other_events">
    <div class="other_events_wrapper">
      <p>이 이벤트를 본 유저들의 관심이벤트</p>
      <div class="other_events_set">
        <div class="other_events_pic">
          <div>sports</div>
        </div>
        <p class="other_events_title"> 두산 vs LG </p>
        <p class="other_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
        <div class="other_events_rating"></div>
        <h4 class="other_events_reviews"> (100) </h4>
        <div class="other_events_get_info">
          <div class="other_events_seat_info"> 좌석 정보 </div>
          <div class="other_events_event_info"> 공연 정보 </div>
        </div>
      </div>
      <div class="other_events_set">
        <div class="other_events_pic">
          <div>sports</div>
        </div>
        <p class="other_events_title"> 두산 vs LG </p>
        <p class="other_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
        <div class="other_events_rating"></div>
        <h4 class="other_events_reviews"> (100) </h4>
        <div class="other_events_get_info">
          <div class="other_events_seat_info"> 좌석 정보 </div>
          <div class="other_events_event_info"> 공연 정보 </div>
        </div>
      </div>
      <div class="other_events_set">
        <div class="other_events_pic">
          <div>sports</div>
        </div>
        <p class="other_events_title"> 두산 vs LG </p>
        <p class="other_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
        <div class="other_events_rating"></div>
        <h4 class="other_events_reviews"> (100) </h4>
        <div class="other_events_get_info">
          <div class="other_events_seat_info"> 좌석 정보 </div>
          <div class="other_events_event_info"> 공연 정보 </div>
        </div>
      </div>
      <div class="other_events_set">
        <div class="other_events_pic">
          <div>sports</div>
        </div>
        <p class="other_events_title"> 두산 vs LG </p>
        <p class="other_events_info"> 2018년 7월 3일 잠실 주경기장 </p>
        <div class="other_events_rating"></div>
        <h4 class="other_events_reviews"> (100) </h4>
        <div class="other_events_get_info">
          <div class="other_events_seat_info"> 좌석 정보 </div>
          <div class="other_events_event_info"> 공연 정보 </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}