{% extends "base.html" %}

{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/series_base.css' %}">

  {% block head_extra_series %}
  {% endblock %}

{% endblock %}

{% block content %}
<div class="content">
  <div class="series_title_zone" style="background-image: url({{ series.image_set.first.img.url }})">
    <div class="series_title_zone_wrapper">
      <p>{{ series.name }}<i class="{% if user in series.liker_set.all %}fas{% else %}far{% endif %} fa-star" data-url="{% url 'sharespot:series_like' series.en_name %}"></i></p>
    </div>
  </div>

  <div class="series_nav">
    <div class="series_nav_wrapper">
      <a href="{% url "sharespot:series_basic" series.en_name %}"><div class="series_nav_component" id="series_basic_info"> 기본정보 </div></a>
      <a href="{% url "sharespot:series_review" series.en_name %}"><div class="series_nav_component" id="series_rating_review"> 평점/리뷰 </div></a>
      <a href="{% url "sharespot:series_talk_list" series.en_name %}"><div class="series_nav_component" id="series_waglewagle"> 와글와글 </div></a>
      <a href="{% url "sharespot:place_space" series.space.en_name %}"><div class="series_nav_component" id="series_view_info"> 좌석정보 </div></a>
      <!-- <div class="series_nav_component" id="series_ticketing"> 예매 </div> -->
    </div>
  </div>

  {% block content_series %}
  {% endblock %}

</div>


<script>

$('.fa-star').click(function() {
  var self = $(this);
  var url = $(this).data('url');
  $.post(url)
    .done(function(r) {
      if( r == 'complete') {
        if( self.hasClass('far') ){
          alert('"[{{ series.division.name }}] {{ series.name }}"이(가) 즐겨찾기에 추가되었습니다.')
          self.removeClass('far');
          self.addClass('fas');
        } else {
          alert('"[{{ series.division.name }}] {{ series.name }}"이(가) 즐겨찾기에서 제외되었습니다.')
          self.removeClass('fas');
          self.addClass('far');
        }
      }
    });
})
</script>
{% endblock %}