{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/series_set.css' %}">

<div class="series_set">
  <div class="series_pic" style="background-image: url({% static 'img/example.jpg' %});">
    <div>sports</div>
  </div>
  <div class="series_set_wrapper">
    <p class="series_title"> 두산 vs LG </p>
    <p class="series_info"> 2018년 7월 3일 잠실주경기장 </p>
    <div class="series_rating_reviews">
      <div></div>
      <h4> (100) </h4>
    </div>
    <div class="series_get_info">
      <div class="series_event_info"> 공연 정보 </div>
      <div class="series_seat_info"> 좌석 정보 </div>
    </div>
  </div>
</div>