{% extends "sharespot/series_base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block title %}
    {{ series.name }} 기본정보
{% endblock %}

{% block head_extra_series %}
<link href="{% static 'css/fullcalendar.min.css' %}" rel='stylesheet' />
<link href="{% static 'css/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<link rel="stylesheet" type="text/css" href="{% static 'css/series_basic.css' %}">
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/jquery.rwdImageMaps.min.js' %}"></script>
<script>

  $(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
  });

</script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=SeKYIswoSWFlblzvLR07"></script>
{% endblock %}

{% block content_series %}

<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      aspectRatio: 1.2,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,listWeek'
      },
      buttonIcons: {
        prev: 'left-single-arrow',
        next: 'right-single-arrow',
      },
      defaultView: 'month',
      fixedWeekCount: true,
      defaultDate: '{{ series.start|date:"Y-m-d" }}',
      titleFormat: 'YYYY년 MM월',
      listDayFormat:'YYYY년 MM월 DD일',
      listDayAltFormat: false,
      monthNames: [ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월' ],
      dayNames: [ '일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일' ],
      dayNamesShort: [ '일', '월', '화', '수', '목', '금', '토' ],
      buttonText: {
        today:    '오늘',
        month:    '월별보기',
        list:     '목록보기'
      },
      timeFormat: 'H:mm',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: [
      {% for event in series.event_set.all %}
        {
          title: '{{ event.name }}',
          start: '{{ event.start|date:"c" }}',
        },
      {% endfor %}
      ]
    });

  });

</script>

  <div class="event_content">
    <div class="event_content_wrapper">
      <div class="event_introduction">
        <div class="event_intro_text">
          <p>“ {{ series.intro_title }} ”</p>
          <h4>
            {% for words in series.split_intro_content %}
              {{ words }} <br>
            {% endfor %}
          </h4>
        </div>
        <!-- 웹용 캐러셀 -->
        <div id="myCarousel" class="carousel slide event_intro_img hide_in_phone" data-ride="carousel">
          <ol class="carousel-indicators">
            <!-- 여기 for문 돌리기(data-slide-to 뒤에 번호 돌리기) -->
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <!-- for문 끝 -->
          </ol>

          <div class="carousel-inner">
            {% for img in series.image_set.all %}
              {% if forloop.first %}
              <div class="item active">
                <img src="{{ img.img.url }}">
              </div>
              {% else %}
              <div class="item">
                <img src="{{ img.img.url }}">
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- 모바일용 이미지 나열 -->
        <div class="event_intro_img_container hide_in_web">
          <div class="event_intro_img">
            {% for img in series.image_set.all %}
            <img src="{{ img.img.url }}">
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="event_time_place">
        <div class="event_time">
          <p> 날짜 및 시간 </p>
          <!-- <div>
            {% for event in series.event_set.all %}
              {{ event.start }}
            {% endfor %}
          </div> -->
          <div id='calendar'></div>
        </div>
        <div class="event_place">
          <p> 장소 </p>

          <a href="{% url "sharespot:place_space" series.space.en_name %}">
            <h4>{{ series.space.name }}</h4>
            <h5>{{ series.space.place.address }}</h5>
            <div class="e_place_rating_review">
              <div class="e_place_rating">
                <div class="e_place_view_rating">
                  <label>시야</label>
                  <div>{{ series.space.get_space_view_star }}</div>
                </div>
                <div class="e_place_excitement_rating">
                  <label>현장열기</label>
                  <div>{{ series.space.get_space_real_star }}</div>
                </div>
              </div>
              <div class="e_place_review">
                좌석뷰 {{ series.space.get_space_view_count }} 장  ・ 리뷰 {{ series.space.get_space_review.count }}개
              </div>
            </div>
          </a>

          <div class="e_place_map" id="map"></div>
        </div>
      </div>

      <div class="event_etc_info">
        <div class="event_casting">
          <p> 출연 </p>
          <a href="{{ series.appear_link }}"><div class="casting_schedule"> 더보기 </div></a>
          <div class="actor_introduction">
            {% for appear in series.get_series_appear %}
            <div class="actor_info">
              <div class="actor_pic" style="background-image: url({{ appear.img.url }})"></div>
              <p>{{ appear.name }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="event_etc_price">
          <p> 가격 </p>
          <div class="price_table">
            <div class="price_thead">
              <div class="price_tr">
                <div class="seat_level"> 좌석등급 </div>
                <div class="level_price"> 가격 </div>
              </div>
            </div>
            <div class="price_tbody">
            {% for level in series.seatlevel_set.all %}
              <div class="price_tr">
                <div class="seat_level"> {{ level.name }} </div>
                <div class="level_price"> {{ level.price|intcomma }} </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="event_etc">
        <p> 기타 안내 </p>
        <ol>
          {% for words in series.split_announce %}
          <li>{{ words }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>

<!--   <div class="other_events">
    <div class="other_events_wrapper">
      <p>이 이벤트를 본 유저들의 관심이벤트</p>
      <div class="ohter_events_list">
        {% include 'sharespot/series_set.html' with request=request series_all=series_all %}
      </div>
    </div>
  </div> -->
</div>


<script>
$(document).ready(function(){
  // 지도
  var mapOptions = {
    center: new naver.maps.LatLng( {{ series.space.place.lat_lon }} ),
    zoom: 11,
    scaleControl: true,
    zoomControl: true,
    zoomControlOptions: {
      style: naver.maps.ZoomControlStyle.SMALL,
      position: naver.maps.Position.TOP_RIGHT
    },
    scrollWheel: false,
  };


  var kia_championsfield = new naver.maps.Map('map', mapOptions);

  var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng({{ series.space.place.lat_lon }}),
    map: kia_championsfield,
  });

  var contentString = [
    '<div class="iw_inner">',
    '   <h3>서울특별시청</h3>',
    '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br />',
    '       02-120 | 공공,사회기관 &gt; 특별,광역시청<br />',
    '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
    '   </p>',
    '</div>'
  ].join('');

  var infowindow = new naver.maps.InfoWindow({ content: contentString });

  naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(kia_championsfield, marker);
    }
  });
});
</script>
{% endblock %}